#slide_breffi-test_5_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_5_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_1.png?v=624184749160);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_5_layer_2 {
    position: absolute;
    top: 697.5px;
    left: 73.45px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #24B1D5;
}

#slide_breffi-test_5_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_3.png?v=624184749160);
    position: absolute;
    top: 696.50px;
    left: 51.50px;
    width: 16.50px;
    height: 16.50px;
}

#slide_breffi-test_5_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_4.png?v=624184749160);
    position: absolute;
    top: 129px;
    left: 45px;
    width: 526.50px;
    height: 505.50px;
}

#slide_breffi-test_5_layer_6 {
    position: absolute;
    top: 500px;
    left: 521.48px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_5_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_8.png?v=624184749160);
    position: absolute;
    top: 500.50px;
    left: 781.50px;
    width: 127.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_9 {
    position: absolute;
    top: 499.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_10 {
    position: absolute;
    top: 501.75px;
    left: 790.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_12 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_12.png?v=624184749160);
    position: absolute;
    top: 500.50px;
    left: 846.50px;
    width: 62.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_13 {
    position: absolute;
    top: 501.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_5_layer_27 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_27.png?v=624184749160);
    position: absolute;
    top: 400.50px;
    left: 781.50px;
    width: 127.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_28 {
    position: absolute;
    top: 399.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_29 {
    position: absolute;
    top: 401.75px;
    left: 790.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_31 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_31.png?v=624184749160);
    position: absolute;
    top: 400.50px;
    left: 846.50px;
    width: 62.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_32 {
    position: absolute;
    top: 401.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_5_layer_38 {
    position: absolute;
    top: 410.5px;
    left: 521.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_5_layer_46 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_46.png?v=624184749160);
    position: absolute;
    top: 300.50px;
    left: 781.50px;
    width: 127.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_47 {
    position: absolute;
    top: 299.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_48 {
    position: absolute;
    top: 301.75px;
    left: 790.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_50 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_50.png?v=624184749160);
    position: absolute;
    top: 300.50px;
    left: 846.50px;
    width: 62.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_51 {
    position: absolute;
    top: 301.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_5_layer_57 {
    position: absolute;
    top: 300px;
    left: 520.97px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_5_layer_65 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_65.png?v=624184749160);
    position: absolute;
    top: 200.50px;
    left: 781.50px;
    width: 127.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_66 {
    position: absolute;
    top: 199.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_67 {
    position: absolute;
    top: 201.75px;
    left: 790.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #929291;
}

#slide_breffi-test_5_layer_69 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_69.png?v=624184749160);
    position: absolute;
    top: 200.50px;
    left: 846.50px;
    width: 62.50px;
    height: 44px;
}

#slide_breffi-test_5_layer_70 {
    position: absolute;
    top: 201.75px;
    left: 862.53px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_5_layer_76 {
    position: absolute;
    top: 208.5px;
    left: 521.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_5_layer_85 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_85.png?v=624184749160);
    position: absolute;
    top: 0px;
    left: 634px;
    width: 351.50px;
    height: 80px;
}

#slide_breffi-test_5_layer_86 {
    position: absolute;
    top: 28px;
    left: 742.95px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_5_layer_89 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_89.png?v=624184749160);
    position: absolute;
    top: 0px;
    left: 339px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_5_layer_90 {
    position: absolute;
    top: 24px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_5_layer_97 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_97.png?v=624184749160);
    position: absolute;
    top: 0px;
    left: 43.50px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_5_layer_98 {
    position: absolute;
    top: 28px;
    left: 138.94px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_5_layer_101 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_5/slide_breffi-test_5_layer_101.png?v=624184749160);
    position: absolute;
    top: 24px;
    left: 366.50px;
    width: 303.50px;
    height: 27px;
}

#slide_breffi-test_5_layer_102 {
    position: absolute;
    top: 28px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_5_layer_109 {
    position: absolute;
    top: 56.75px;
    left: 72.47px;
    font-style: normal;
    font-family: GloberBook;
    font-size: 35.50px;
    line-height: 1.2;
    color: #26B4D7;
}

.select-yes {
    position: absolute;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 30px;
    line-height: 1.2;
    color: #FFFFFF;
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_8/slide_breffi-test_8_layer_111.png?v=624184749160);
    width: 62px;
    height: 44px;
    box-sizing: border-box;
    padding: 0 15px;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.select-yes-1 {
    top: 201px;
    left: 846px;
}

.select-yes-2 {
    top: 301px;
    left: 846px;
}

.select-yes-3 {
    top: 401px;
    left: 846px;
}

.select-yes-4 {
    top: 501px;
    left: 846px;
}

.select-yes-5 {
    top: 494px;
    left: 850px;
}

.select-yes-6 {
    top: 569px;
    left: 850px;
}

.select-no {
    position: absolute;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 29.50px;
    line-height: 1.2;
    color: #FFFFFF;
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_8/slide_breffi-test_8_layer_77.png?v=624184749160);
    position: absolute;
    top: 417px;
    left: 785.50px;
    width: 63px;
    height: 44px;
    box-sizing: border-box;
    padding: 0 8px;
    z-index: 30;
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.select-no-1 {
    top: 201px;
    left: 781px;
}

.select-no-2 {
    top: 301px;
    left: 781px;
}

.select-no-3 {
    top: 401px;
    left: 781px;
}

.select-no-4 {
    top: 501px;
    left: 781px;
}

.select-no-5 {
    top: 494px;
    left: 785px;
}

.select-no-6 {
    top: 569px;
    left: 785px;
}

.feedback-popup {
    display: none;
    position: absolute;
    top: 175px;
    left: 504px;
    height: 451px;
    width: 418px;
    box-shadow: 0 0 46px 1px #DC5F0F;
    ;
	background-color: #fff;
    border-radius: 15px;
    z-index: 50;
}

.feedback-message {
    border: none;
    margin: 20px 20px 30px 20px;
    font-size: 18px;
    font-family: GloberRegular;
    width: 374px;
    height: 331px;
    resize: none;
    outline: none;
}

.btn-close {
    color: #fff;
    font-size: 20px;
    font-family: GloberRegular;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #dc5f13;
    float: right;
    margin: 0 21px;
}