#slide_breffi-test_6_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_6_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_1.png?v=624184749178);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_6_layer_2 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_2.png?v=624184749178);
    position: absolute;
    top: 162.50px;
    left: 585.50px;
    width: 267px;
    height: 339.50px;
}

#slide_breffi-test_6_layer_3 {
    position: absolute;
    top: 697px;
    left: 72.42px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_6_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_4.png?v=624184749178);
    position: absolute;
    top: 696.50px;
    left: 51.50px;
    width: 16.50px;
    height: 16.50px;
}

#slide_breffi-test_6_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_5.png?v=624184749178);
    position: absolute;
    top: 510px;
    left: 173.50px;
    width: 285.50px;
    height: 144px;
}

#slide_breffi-test_6_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_7.png?v=624184749178);
    position: absolute;
    top: 539px;
    left: 202px;
    width: 228px;
    height: 86px;
}

#slide_breffi-test_6_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_8.png?v=624184749178);
    position: absolute;
    top: 531.50px;
    left: 416px;
    width: 22px;
    height: 22px;
}

#slide_breffi-test_6_layer_10 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_10.png?v=624184749178);
    position: absolute;
    top: 510px;
    left: 572px;
    width: 285.50px;
    height: 144px;
}

#slide_breffi-test_6_layer_15 {
    position: absolute;
    top: 558.5px;
    left: 221.97px;
    font-style: normal;
    text-align: left;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_6_layer_16 {
    position: absolute;
    top: 567.5px;
    left: 622.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_6_layer_17 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_17.png?v=624184749178);
    position: absolute;
    top: 155.50px;
    left: 184.50px;
    width: 261.50px;
    height: 348.50px;
}

#slide_breffi-test_6_layer_20 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_20.png?v=624184749178);
    position: absolute;
    top: 0px;
    left: 634px;
    width: 351.50px;
    height: 80px;
}

#slide_breffi-test_6_layer_21 {
    position: absolute;
    top: 27px;
    left: 742.95px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_6_layer_24 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_24.png?v=624184749178);
    position: absolute;
    top: 0px;
    left: 339px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_6_layer_25 {
    position: absolute;
    top: 24px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_6_layer_32 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_32.png?v=624184749178);
    position: absolute;
    top: 0px;
    left: 43.50px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_6_layer_33 {
    position: absolute;
    top: 27px;
    left: 138.94px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_6_layer_36 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_6/slide_breffi-test_6_layer_36.png?v=624184749178);
    position: absolute;
    top: 24px;
    left: 366.50px;
    width: 303.50px;
    height: 27px;
}

#slide_breffi-test_6_layer_37 {
    position: absolute;
    top: 27px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_6_layer_44 {
    position: absolute;
    top: 56.25px;
    left: 70.47px;
    font-style: normal;
    font-family: GloberBook;
    font-size: 35.50px;
    line-height: 1.2;
    color: #26B4D7;
}

.select {
    position: absolute;
    border: 3px solid #00b5d9;
    border-radius: 9px;
    z-index: 10;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
    opacity: 0;
}

.select:after {
    display: block;
    position: absolute;
    content: '';
    top: -11px;
    right: -10px;
    width: 22px;
    height: 22px;
    background: url(../images/selected-tick.png?v=624184749178) 0 0 no-repeat;
    background-size: 100% 100%;
}

.select-1 {
    left: 199px;
    top: 537px;
    width: 226px;
    height: 83px;
}

.select-2 {
    left: 598px;
    top: 536px;
    width: 226px;
    height: 83px;
}
