#slide_breffi-test_7_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_7_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_1.png?v=624184749193);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_7_layer_2 {
    position: absolute;
    top: 698px;
    left: 73.42px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #25B3D6;
}

#slide_breffi-test_7_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_3.png?v=624184749193);
    position: absolute;
    top: 98px;
    left: 98px;
    width: 258.50px;
    height: 378.50px;
}

#slide_breffi-test_7_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_4.png?v=624184749193);
    position: absolute;
    top: 139px;
    left: 397px;
    width: 234px;
    height: 317.50px;
}

#slide_breffi-test_7_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_5.png?v=624184749193);
    position: absolute;
    top: 121px;
    left: 587.50px;
    width: 334.50px;
    height: 334.50px;
}

#slide_breffi-test_7_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_6.png?v=624184749193);
    position: absolute;
    top: 465.50px;
    left: 365px;
    width: 303.50px;
    height: 177px;
}

#slide_breffi-test_7_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_7.png?v=624184749193);
    position: absolute;
    top: 465.50px;
    left: 671px;
    width: 260px;
    height: 177px;
}

#slide_breffi-test_7_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_8.png?v=624184749193);
    position: absolute;
    top: 465.50px;
    left: 91.50px;
    width: 266.50px;
    height: 177px;
}

#slide_breffi-test_7_layer_10 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_10.png?v=624184749193);
    position: absolute;
    top: 494.50px;
    left: 699.50px;
    width: 202.50px;
    height: 119px;
}

#slide_breffi-test_7_layer_11 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_11.png?v=624184749193);
    position: absolute;
    top: 487px;
    left: 889.50px;
    width: 22px;
    height: 22px;
}

#slide_breffi-test_7_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_14.png?v=624184749193);
    position: absolute;
    top: 465.50px;
    left: 365px;
    width: 304px;
    height: 177px;
}

#slide_breffi-test_7_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_15.png?v=624184749193);
    position: absolute;
    top: 487px;
    left: 628.50px;
    width: 22px;
    height: 22px;
}

#slide_breffi-test_7_layer_21 {
    position: absolute;
    top: 518.5px;
    left: 140.51px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_7_layer_22 {
    position: absolute;
    top: 521px;
    left: 414.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_7_layer_23 {
    position: absolute;
    top: 527px;
    left: 722.97px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_7_layer_26 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_26.png?v=624184749193);
    position: absolute;
    top: 0px;
    left: 634px;
    width: 351.50px;
    height: 80px;
}

#slide_breffi-test_7_layer_27 {
    position: absolute;
    top: 28px;
    left: 742.95px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_7_layer_30 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_30.png?v=624184749193);
    position: absolute;
    top: 0px;
    left: 339px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_7_layer_31 {
    position: absolute;
    top: 24px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_7_layer_38 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_38.png?v=624184749193);
    position: absolute;
    top: 0px;
    left: 43.50px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_7_layer_39 {
    position: absolute;
    top: 28px;
    left: 138.94px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_7_layer_42 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_42.png?v=624184749193);
    position: absolute;
    top: 24px;
    left: 366.50px;
    width: 303.50px;
    height: 27px;
}

#slide_breffi-test_7_layer_43 {
    position: absolute;
    top: 28px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_7_layer_50 {
    position: absolute;
    top: 57.25px;
    left: 72.47px;
    font-style: normal;
    font-family: GloberBook;
    font-size: 35.50px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_7_layer_51 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_7/slide_breffi-test_7_layer_51.png?v=624184749193);
    position: absolute;
    top: 696.50px;
    left: 51.50px;
    width: 16.50px;
    height: 16.50px;
}

.select {
    position: absolute;
    border: 3px solid #00b5d9;
    border-radius: 9px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.select:after {
    display: block;
    position: absolute;
    content: '';
    top: -11px;
    right: -10px;
    width: 22px;
    height: 22px;
    background: url(../images/selected-tick.png?v=624184749193) 0 0 no-repeat;
    background-size: 100% 100%;
}

.select-1 {
    left: 118px;
    top: 495px;
    width: 207px;
    height: 115px;
}

.select-2 {
    left: 391px;
    top: 495px;
    width: 243px;
    height: 115px;
}

.select-3 {
    left: 698px;
    top: 495px;
    width: 201px;
    height: 115px;
}