#slide_breffi-test_11_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_11_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_1.png?v=624184749104);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_11_layer_2 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_2.png?v=624184749104);
    position: absolute;
    top: 133px;
    left: 176px;
    width: 737px;
    height: 170px;
}

#slide_breffi-test_11_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_4.png?v=624184749104);
    position: absolute;
    top: 161.50px;
    left: 204px;
    width: 682px;
    height: 117px;
}

#slide_breffi-test_11_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_5.png?v=624184749104);
    position: absolute;
    top: 154px;
    left: 873px;
    width: 22px;
    height: 22px;
}

#slide_breffi-test_11_layer_7 {
    position: absolute;
    top: 178.5px;
    left: 225.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_11_layer_8 {
    position: absolute;
    top: 140.56px;
    left: 106.22px;
    font-style: normal;
    text-align: left;
    font-family: GloberBook;
    font-size: 118.89px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_11_layer_9 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_9.png?v=624184749104);
    position: absolute;
    top: 295px;
    left: 176px;
    width: 737px;
    height: 170px;
}

#slide_breffi-test_11_layer_14 {
    position: absolute;
    top: 339px;
    left: 225.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_11_layer_15 {
    position: absolute;
    top: 302.06px;
    left: 106.17px;
    font-style: normal;
    text-align: left;
    font-family: GloberBook;
    font-size: 118.89px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_11_layer_16 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_16.png?v=624184749105);
    position: absolute;
    top: 456.50px;
    left: 176px;
    width: 737px;
    height: 170px;
}

#slide_breffi-test_11_layer_22 {
    position: absolute;
    top: 502px;
    left: 225.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_11_layer_23 {
    position: absolute;
    top: 465.06px;
    left: 106.81px;
    font-style: normal;
    text-align: left;
    font-family: GloberBook;
    font-size: 118.89px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_11_layer_26 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_26.png?v=624184749105);
    position: absolute;
    top: 0px;
    left: 634px;
    width: 351.50px;
    height: 80px;
}

#slide_breffi-test_11_layer_27 {
    position: absolute;
    top: 28px;
    left: 742.95px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_11_layer_30 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_30.png?v=624184749105);
    position: absolute;
    top: 0px;
    left: 339px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_11_layer_31 {
    position: absolute;
    top: 28px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_11_layer_38 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_11/slide_breffi-test_11_layer_38.png?v=624184749105);
    position: absolute;
    top: 0px;
    left: 43.50px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_11_layer_39 {
    position: absolute;
    top: 28px;
    left: 138.94px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_11_layer_50 {
    position: absolute;
    top: 56.75px;
    left: 72.47px;
    font-style: normal;
    font-family: GloberBook;
    font-size: 35.50px;
    line-height: 1.2;
    color: #26B4D7;
}

.select {
    position: absolute;
    border: 3px solid #00b5d9;
    border-radius: 9px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.select:after {
    display: block;
    position: absolute;
    content: '';
    top: -11px;
    right: -10px;
    width: 22px;
    height: 22px;
    background: url(../images/selected-tick.png?v=624184749105) 0 0 no-repeat;
    background-size: 100% 100%;
}

.select-1 {
    left: 203px;
    top: 159px;
    width: 677px;
    height: 112px;
}

.select-2 {
    left: 203px;
    top: 320px;
    width: 677px;
    height: 112px;
}

.select-3 {
    left: 203px;
    top: 482px;
    width: 677px;
    height: 112px;
}

.idea {
    display: block;
    position: absolute;
    background: transparent;
    border: none;
    padding: 18px 23px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    z-index: 20;
    font-size: 19px;
    font-family: GloberBook;
    color: #878786;
}

.idea-1 {
    left: 203px;
    top: 159px;
    width: 683px;
    height: 118px;
}

.idea-2 {
    left: 203px;
    top: 320px;
    width: 683px;
    height: 118px;
}

.idea-3 {
    left: 203px;
    top: 482px;
    width: 683px;
    height: 118px;
}