#slide_breffi-test_10_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_10_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_1.png?v=62418474976);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide_breffi-test_10_layer_2 {
    position: absolute;
    top: 112.25px;
    left: 197.47px;
    font-style: normal;
    font-family: GloberBook;
    font-size: 35.50px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_10_layer_3 {
    position: absolute;
    top: 385.75px;
    left: 197.47px;
    font-style: normal;
    font-family: GloberBook;
    font-size: 35.50px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_10_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_6.png?v=62418474976);
    position: absolute;
    top: 0px;
    left: 634px;
    width: 351.50px;
    height: 80px;
}

#slide_breffi-test_10_layer_7 {
    position: absolute;
    top: 28px;
    left: 742.95px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_10_layer_10 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_10.png?v=62418474976);
    position: absolute;
    top: 0px;
    left: 339px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_10_layer_11 {
    position: absolute;
    top: 28px;
    left: 492.98px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_10_layer_18 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_18.png?v=62418474976);
    position: absolute;
    top: 0px;
    left: 43.50px;
    width: 355px;
    height: 80px;
}

#slide_breffi-test_10_layer_19 {
    position: absolute;
    top: 24px;
    left: 138.94px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #939392;
}

#slide_breffi-test_10_layer_26 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_26.png?v=62418474976);
    position: absolute;
    top: 24px;
    left: 71px;
    width: 303.50px;
    height: 27px;
}

#slide_breffi-test_10_layer_27 {
    position: absolute;
    top: 28px;
    left: 138.94px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #FFFFFF;
}

#slide_breffi-test_10_layer_30 {
    position: absolute;
    top: 697.5px;
    left: 73.45px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 15px;
    line-height: 1.2;
    color: #26B4D7;
}

#slide_breffi-test_10_layer_31 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_31.png?v=62418474976);
    position: absolute;
    top: 696.50px;
    left: 51.50px;
    width: 16.50px;
    height: 16.50px;
}

#slide_breffi-test_10_layer_32 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_32.png?v=62418474976);
    position: absolute;
    top: 182.50px;
    left: 168px;
    width: 737px;
    height: 170px;
}

#slide_breffi-test_10_layer_38 {
    position: absolute;
    top: 228px;
    left: 217.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_10_layer_39 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_39.png?v=62418474976);
    position: absolute;
    top: 227.50px;
    left: 117px;
    width: 30px;
    height: 81px;
}

#slide_breffi-test_10_layer_40 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_40.png?v=62418474976);
    position: absolute;
    top: 456px;
    left: 168px;
    width: 737px;
    height: 170px;
}

#slide_breffi-test_10_layer_45 {
    position: absolute;
    top: 500px;
    left: 217.47px;
    font-style: normal;
    font-family: GloberRegular;
    font-size: 19px;
    line-height: 1.2;
    color: #868685;
}

#slide_breffi-test_10_layer_46 {
    background-size: 100% 100%;
    background-image: url(../images/breffi-test_10/slide_breffi-test_10_layer_46.png?v=62418474976);
    position: absolute;
    top: 498.50px;
    left: 117px;
    width: 49px;
    height: 82.50px;
}

.select {
    position: absolute;
    border: 3px solid #00b5d9;
    border-radius: 9px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.select:after {
    display: block;
    position: absolute;
    content: '';
    top: -11px;
    right: -10px;
    width: 22px;
    height: 22px;
    background: url(../images/selected-tick.png?v=62418474976) 0 0 no-repeat;
    background-size: 100% 100%;
}

.select-1 {
    left: 195px;
    top: 210px;
    width: 677px;
    height: 112px;
}

.select-2 {
    left: 195px;
    top: 484px;
    width: 677px;
    height: 112px;
}

.idea {
    display: block;
    position: absolute;
    background: transparent;
    border: none;
    padding: 18px 23px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    z-index: 20;
    font-size: 19px;
    font-family: GloberBook;
    color: #878786;
}

.idea-1 {
    left: 195px;
    top: 210px;
    width: 683px;
    height: 118px;
}

.idea-2 {
    left: 195px;
    top: 484px;
    width: 683px;
    height: 118px;
}
