#slide-Cirkadin-5-layer-31 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-31.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 31;
}

#slide-Cirkadin-5-layer-30 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 30;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-5-layer-29 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 29;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-5-layer-28 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 28;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-5-layer-27 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-27.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 27;
}

#slide-Cirkadin-5-layer-26 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-26.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 26;
}

#slide-Cirkadin-5-layer-25 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-25.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 25;
}

#slide-Cirkadin-5-layer-24 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-24.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 24;
}

#slide-Cirkadin-5-layer-23 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-23.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 23;
}

#slide-Cirkadin-5-layer-22 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-22.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 22;
}

#slide-Cirkadin-5-layer-20 {
    position: absolute;
    top: 15.00px;
    left: 36.50px;
    z-index: 20;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #CDD5D4;
}

#slide-Cirkadin-5-layer-19 {
    position: absolute;
    top: 437.50px;
    left: 37.50px;
    z-index: 19;
    font-style: reg;
    text-align: left;
    font-family: FuturaPTMedium-Reg;
    font-size: 24.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-5-layer-18 {
    position: absolute;
    top: 579.00px;
    left: 137.50px;
    z-index: 18;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 22.50px;
    color: #465160;
    -webkit-transform: rotate(2deg);
}

#slide-Cirkadin-5-layer-18 span {
    font-size: 12px;
}

#slide-Cirkadin-5-layer-17 {
    position: absolute;
    top: 577.00px;
    left: 434.00px;
    z-index: 17;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 22.50px;
    color: #465160;
    -webkit-transform: rotate(2deg);
}

#slide-Cirkadin-5-layer-16 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-16.png);
    position: absolute;
    top: 349.50px;
    left: 497.00px;
    width: 464.00px;
    height: 418.50px;
    z-index: 16;
    opacity: 0;
}

#slide-Cirkadin-5-layer-15 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-15.png);
    position: absolute;
    top: 357.50px;
    left: 0.00px;
    width: 439.50px;
    height: 410.50px;
    z-index: 15;
    opacity: 0;
}

#slide-Cirkadin-5-layer-14 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-14.png);
    position: absolute;
    top: 366.00px;
    left: 276.00px;
    width: 464.00px;
    height: 402.00px;
    z-index: 14;
    opacity: 0;
}

#slide-Cirkadin-5-layer-13 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-13.png);
    position: absolute;
    top: 542.50px;
    left: 131.00px;
    width: 735.50px;
    height: 117.00px;
    z-index: 13;
}

#slide-Cirkadin-5-layer-11 {
    position: absolute;
    top: 276.50px;
    left: 827.50px;
    z-index: 11;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#slide-Cirkadin-5-layer-10 {
    position: absolute;
    top: 277.00px;
    left: 534.00px;
    z-index: 10;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#slide-Cirkadin-5-layer-9 {
    position: absolute;
    top: 277.50px;
    left: 225.50px;
    z-index: 9;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#slide-Cirkadin-5-layer-8 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-8.png);
    position: absolute;
    top: 279.50px;
    left: 828.00px;
    width: 179.00px;
    height: 44.00px;
    z-index: 8;
    opacity: 0.5
}

#slide-Cirkadin-5-layer-7 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-7.png);
    position: absolute;
    top: 279.50px;
    left: 532.50px;
    width: 142.00px;
    height: 44.00px;
    z-index: 7;
    opacity: 0.5
}

#slide-Cirkadin-5-layer-6 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-6.png);
    position: absolute;
    top: 279.50px;
    left: 224.50px;
    width: 173.50px;
    height: 44.00px;
    z-index: 6;
    opacity: 0.5
}

#slide-Cirkadin-5-layer-5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-5.png);
    position: absolute;
    top: 139.50px;
    left: 419.50px;
    width: 194.00px;
    height: 242.00px;
    z-index: 5;
}

#slide-Cirkadin-5-layer-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-4.png);
    position: absolute;
    top: 138.00px;
    left: 717.00px;
    width: 197.00px;
    height: 245.00px;
    z-index: 4;
}

#slide-Cirkadin-5-layer-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-3.png);
    position: absolute;
    top: 141.00px;
    left: 114.50px;
    width: 190.00px;
    height: 239.00px;
    z-index: 3;
}

#slide-Cirkadin-5-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-5/slide-Cirkadin-5-layer-1.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}

.sunshine.pulsate {
    -webkit-animation: pulsating 5s linear;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}

@-webkit-keyframes pulsating {
    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.75;
    }
}

@-keyframes pulsating {
    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.75;
    }
}

.box-1 {
    position: absolute;
    top: 540px;
    left: 130px;
    width: 190px;
    height: 120px;
    z-index: 100;
}

.box-2 {
    position: absolute;
    top: 540px;
    left: 393px;
    width: 190px;
    height: 120px;
    z-index: 100;
}

.box-3 {
    position: absolute;
    top: 554px;
    left: 663px;
    width: 210px;
    height: 120px;
    z-index: 100;
}