#slide-Cirkadin-21-layer-39 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-39.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 39;
}

#slide-Cirkadin-21-layer-38 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 38;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-21-layer-37 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 37;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-21-layer-36 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 36;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-21-layer-35 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-35.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 35;
}

#slide-Cirkadin-21-layer-34 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-34.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 34;
}

#slide-Cirkadin-21-layer-33 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-33.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 33;
}

#slide-Cirkadin-21-layer-32 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-32.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 32;
}

#slide-Cirkadin-21-layer-31 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-31.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 31;
}

#slide-Cirkadin-21-layer-30 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-30.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 30;
}

#slide-Cirkadin-21-layer-27 {
    position: absolute;
    top: 589px;
    left: 148px;
    z-index: 27;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 22.50px;
    color: #465160;
    -webkit-transform: rotate(1.6deg);
}

#slide-Cirkadin-21-layer-27 span {
    font-size: 12px;
}

#slide-Cirkadin-21-layer-26 {
    position: absolute;
    top: 577.00px;
    left: 434.50px;
    z-index: 26;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 22.50px;
    color: #465160;
    -webkit-transform: rotate(1.6deg);
}

#slide-Cirkadin-21-layer-24 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-24.png);
    position: absolute;
    top: 349.50px;
    left: 497.50px;
    width: 464.00px;
    height: 418.50px;
    z-index: 24;
}

#slide-Cirkadin-21-layer-22 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-22.png);
    position: absolute;
    top: 357.50px;
    left: 0.50px;
    width: 439.50px;
    height: 410.50px;
    z-index: 22;
}

#slide-Cirkadin-21-layer-20 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-20.png);
    position: absolute;
    top: 366.00px;
    left: 276.50px;
    width: 464.00px;
    height: 402.00px;
    z-index: 20;
}

#slide-Cirkadin-21-layer-18 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-18.png);
    position: absolute;
    top: 542.50px;
    left: 131.50px;
    width: 735.50px;
    height: 117.00px;
    z-index: 18;
}

#slide-Cirkadin-21-layer-15 {
    position: absolute;
    top: 279.5px;
    left: 829.5px;
    z-index: 15;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
}

#slide-Cirkadin-21-layer-14 {
    position: absolute;
    top: 279px;
    left: 536px;
    z-index: 14;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
}

#slide-Cirkadin-21-layer-13 {
    position: absolute;
    top: 279.50px;
    left: 228.50px;
    z-index: 13;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
}

#slide-Cirkadin-21-layer-11 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-11.png);
    position: absolute;
    top: 279.50px;
    left: 828.00px;
    width: 177.00px;
    height: 44.00px;
    z-index: 11;
    opacity: 0.5;
}

#slide-Cirkadin-21-layer-10 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-10.png);
    position: absolute;
    top: 279.50px;
    left: 532.50px;
    width: 142.00px;
    height: 44.00px;
    z-index: 10;
    opacity: 0.5;
}

#slide-Cirkadin-21-layer-9 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-9.png);
    position: absolute;
    top: 279.50px;
    left: 224.50px;
    width: 173.50px;
    height: 44.00px;
    z-index: 9;
    opacity: 0.5;
}

#slide-Cirkadin-21-layer-8 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-8.png);
    position: absolute;
    top: 139.50px;
    left: 419.50px;
    width: 194.00px;
    height: 242.00px;
    z-index: 8;
}

#slide-Cirkadin-21-layer-7 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-7.png);
    position: absolute;
    top: 138.00px;
    left: 717.00px;
    width: 197.00px;
    height: 245.00px;
    z-index: 7;
}

#slide-Cirkadin-21-layer-6 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-6.png);
    position: absolute;
    top: 141.00px;
    left: 114.50px;
    width: 190.00px;
    height: 239.00px;
    z-index: 6;
}

#slide-Cirkadin-21-layer-4 {
    position: absolute;
    top: 448.50px;
    left: 37.50px;
    z-index: 4;
    font-style: reg;
    text-align: left;
    font-family: FuturaPTMedium-Reg;
    font-size: 24.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-21-layer-3 {
    position: absolute;
    top: 15.00px;
    left: 36.50px;
    z-index: 3;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #CDD5D4;
}

#slide-Cirkadin-21-layer-2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-21/slide-Cirkadin-21-layer-2.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 2;
}

.sunshine.pulsate {
    -webkit-animation: pulsating 5s linear;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}

@-webkit-keyframes pulsating {
    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.75;
    }
}

@-keyframes pulsating {
    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.75;
    }
}

.box-1 {
    position: absolute;
    top: 540px;
    left: 130px;
    width: 190px;
    height: 120px;
    z-index: 100;
}

.box-2 {
    position: absolute;
    top: 540px;
    left: 393px;
    width: 190px;
    height: 120px;
    z-index: 100;
}

.box-3 {
    position: absolute;
    top: 554px;
    left: 663px;
    width: 210px;
    height: 120px;
    z-index: 100;
}