#slide-Cirkadin-33-layer-73 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 73;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-33-layer-72 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 72;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-33-layer-71 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 71;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-33-layer-70 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-70.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 70;
}

#slide-Cirkadin-33-layer-69 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-69.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 69;
}

#slide-Cirkadin-33-layer-68 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-68.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 68;
}

#slide-Cirkadin-33-layer-67 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-67.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 67;
}

#slide-Cirkadin-33-layer-66 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-66.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 66;
}

#slide-Cirkadin-33-layer-65 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-65.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 65;
}

#slide-Cirkadin-33-layer-62 {
    position: absolute;
    top: 151.50px;
    left: 668.50px;
    z-index: 62;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 35.00px;
    color: #0B0E16;
    line-height: 24px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(450px) rotate(5deg) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(7deg, 0deg);
}

#slide-Cirkadin-33-layer-62 span {
    font-size: 14px;
}

#slide-Cirkadin-33-layer-61 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-61.png);
    position: absolute;
    top: 94.00px;
    left: 663.00px;
    width: 247.00px;
    height: 169.50px;
    z-index: 61;
}

#slide-Cirkadin-33-layer-60 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-60.png);
    position: absolute;
    top: 109.00px;
    left: 97.50px;
    width: 275.00px;
    height: 130.00px;
    z-index: 60;
}

#slide-Cirkadin-33-layer-56 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-56.png);
    position: absolute;
    top: 251.00px;
    left: 454.50px;
    width: 115.00px;
    height: 115.00px;
    z-index: 56;
}

#slide-Cirkadin-33-layer-55 {
    position: absolute;
    top: 364px;
    left: 443px;
    z-index: 55;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#slide-Cirkadin-33-layer-52 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-52.png);
    position: absolute;
    top: 285px;
    left: 323px;
    width: 377.00px;
    height: 362.00px;
    z-index: 52;
}

#slide-Cirkadin-33-layer-51 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-51.png);
    position: absolute;
    top: 406.50px;
    left: 454.50px;
    width: 115.00px;
    height: 115.00px;
    z-index: 51;
}

#slide-Cirkadin-33-layer-50 {
    position: absolute;
    z-index: 50;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
    top: 518px;
    left: 442.5px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#slide-Cirkadin-33-layer-47 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-47.png);
    position: absolute;
    top: 571.50px;
    left: 474.50px;
    width: 76.50px;
    height: 88.00px;
    z-index: 47;
}

#slide-Cirkadin-33-layer-46 {
    position: absolute;
    top: 667.5px;
    left: 441.5px;
    z-index: 46;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#slide-Cirkadin-33-layer-45 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-45.png);
    position: absolute;
    top: 555.00px;
    left: 454.50px;
    width: 115.00px;
    height: 115.00px;
    z-index: 45;
}

#slide-Cirkadin-33-layer-43 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-43.png);
    position: absolute;
    top: 119.00px;
    left: 323.50px;
    width: 377.00px;
    height: 649.00px;
    z-index: 43;
}

#slide-Cirkadin-33-layer-40 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-40.png);
    position: absolute;
    top: 395.00px;
    left: 58.50px;
    width: 918.50px;
    height: 1.00px;
    z-index: 40;
}

#slide-Cirkadin-33-layer-39 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-39.png);
    position: absolute;
    top: 544.00px;
    left: 61.50px;
    width: 918.50px;
    height: 1.00px;
    z-index: 39;
}

#slide-Cirkadin-33-layer-36 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-32.png);
    position: absolute;
    top: 268.50px;
    left: 470.00px;
    width: 85.00px;
    height: 78.50px;
    z-index: 36;
}

#slide-Cirkadin-33-layer-35 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-35.png);
    position: absolute;
    top: 251.00px;
    left: 454.50px;
    width: 115.00px;
    height: 115.00px;
    z-index: 35;
}

#slide-Cirkadin-33-layer-34 {
    position: absolute;
    top: 360.00px;
    left: 427.00px;
    z-index: 34;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
}

#slide-Cirkadin-33-layer-32 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-36.png);
    position: absolute;
    top: 121.5px;
    left: 323px;
    width: 377.00px;
    height: 373.00px;
    z-index: 32;
}

#slide-Cirkadin-33-layer-30 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-30.png);
    position: absolute;
    top: 311.00px;
    left: 780.50px;
    width: 23.50px;
    height: 4.00px;
    z-index: 30;
}

#slide-Cirkadin-33-layer-29 {
    position: absolute;
    top: 304.50px;
    left: 52.50px;
    z-index: 29;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 16.00px;
    color: #FFFFFF;
    width: 320px;
}

#slide-Cirkadin-33-layer-24 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-24.png);
    position: absolute;
    top: 409.50px;
    left: 455.00px;
    width: 112.00px;
    height: 112.00px;
    z-index: 24;
}

#slide-Cirkadin-33-layer-23 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-23.png);
    position: absolute;
    top: 406.50px;
    left: 454.50px;
    width: 115.00px;
    height: 115.00px;
    z-index: 23;
}

#slide-Cirkadin-33-layer-22 {
    position: absolute;
    top: 515.00px;
    left: 427.50px;
    z-index: 22;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
}

#slide-Cirkadin-33-layer-20 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-20.png);
    position: absolute;
    top: 273.50px;
    left: 322.00px;
    width: 377.00px;
    height: 373.00px;
    z-index: 20;
}

#slide-Cirkadin-33-layer-18 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-18.png);
    position: absolute;
    top: 464.00px;
    left: 780.50px;
    width: 23.50px;
    height: 4.00px;
    z-index: 18;
}

#slide-Cirkadin-33-layer-17 {
    position: absolute;
    top: 464.00px;
    left: 52.00px;
    z-index: 17;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 16.00px;
    color: #FFFFFF;
    width: 320px;
}

#slide-Cirkadin-33-layer-12 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-12.png);
    position: absolute;
    top: 432px;
    left: 324px;
    width: 377.00px;
    height: 362.00px;
    z-index: 52;
}

#slide-Cirkadin-33-layer-11 {
    position: absolute;
    top: 664.50px;
    left: 427.50px;
    z-index: 11;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #FFD6A5;
}

#slide-Cirkadin-33-layer-10 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-10.png);
    position: absolute;
    top: 555.00px;
    left: 454.50px;
    width: 115.00px;
    height: 115.00px;
    z-index: 10;
}

#slide-Cirkadin-33-layer-7 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-7.png);
    position: absolute;
    top: 608.50px;
    left: 780.50px;
    width: 23.50px;
    height: 4.00px;
    z-index: 7;
}

#slide-Cirkadin-33-layer-6 {
    position: absolute;
    top: 593.00px;
    left: 53.00px;
    z-index: 6;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 16.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-33-layer-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-33/slide-Cirkadin-33-layer-3.png);
    position: absolute;
    top: 251.00px;
    left: 428.00px;
    width: 178.50px;
    height: 441.50px;
    z-index: 3;
}

#slide-Cirkadin-33-layer-2 {
    position: absolute;
    top: 25.50px;
    left: 36.00px;
    z-index: 2;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-33-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/night.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}

.sunshine * {
    opacity: 0;
}

.text-shine {
    opacity: 0.7;
}

.sunshine .pulsate {
    -webkit-animation: pulsatingTwo 9s linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

@-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

.button-1 {
    position: absolute;
    top: 246px;
    left: 430px;
    width: 170px;
    height: 140px;
    z-index: 200;
}

.button-2 {
    position: absolute;
    top: 398px;
    left: 430px;
    width: 170px;
    height: 140px;
    z-index: 200;
}

.button-3 {
    position: absolute;
    top: 550px;
    left: 430px;
    width: 170px;
    height: 140px;
    z-index: 200;
}

.right-col,
.left-text {
    display: none;
}