#slide-Cirkadin-6-layer-54 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-54.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 54;
}

#slide-Cirkadin-6-layer-53 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 53;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-6-layer-52 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 52;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-6-layer-51 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 51;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-6-layer-50 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-50.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 50;
}

#slide-Cirkadin-6-layer-49 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-49.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 49;
}

#slide-Cirkadin-6-layer-48 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-48.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 48;
}

#slide-Cirkadin-6-layer-47 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-47.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 47;
}

#slide-Cirkadin-6-layer-46 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-46.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 46;
}

#slide-Cirkadin-6-layer-45 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-45.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 45;
}

#slide-Cirkadin-6-layer-43 {
    position: absolute;
    top: 36.00px;
    left: 36.50px;
    z-index: 43;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-6-layer-41 {
    background: #917b6b;
    position: absolute;
    top: 720.50px;
    left: 247.00px;
    width: 18.50px;
    height: 30.00px;
    z-index: 41;
    opacity: 0.5;
}

#slide-Cirkadin-6-layer-40 {
    position: absolute;
    top: 722.00px;
    left: 274.50px;
    z-index: 40;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 15.00px;
    line-height: 14.00px;
    color: #FCDEBA;
    opacity: 0.75;
    letter-spacing: 0.5px;
}

#slide-Cirkadin-6-layer-40 span {
    font-size: 12px;
}

#slide-Cirkadin-6-layer-39 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-39.png);
    position: absolute;
    top: 726.00px;
    left: 506.50px;
    width: 21.00px;
    height: 30.00px;
    z-index: 39;
    opacity: 0.5;
}

#slide-Cirkadin-6-layer-38 {
		 /*background-size:100% 100%;
		 background-image:url(../images/Cirkadin-6/slide-Cirkadin-6-layer-38.png);*/
    position: absolute;
    top: 725.00px;
    left: 532.50px;
    width: 325.00px;
    height: 31.50px;
    z-index: 38;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 15.00px;
    line-height: 14.00px;
    color: #FCDEBA;
    opacity: 0.75;
    letter-spacing: 0.5px;
}

#slide-Cirkadin-6-layer-38 span {
    font-size: 12px;
}

#slide-Cirkadin-6-layer-36 {
    position: absolute;
    top: 530.80px;
    left: 658.00px;
    z-index: 36;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 13.00px;
    line-height: 19.20px;
    color: #FFEBC9;
}

#slide-Cirkadin-6-layer-34 {
    position: absolute;
    top: 252.90px;
    left: 207.50px;
    z-index: 34;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 20.00px;
    line-height: 21.60px;
    color: #FFFFFF;
}

#slide-Cirkadin-6-layer-33 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-33.png);
    position: absolute;
    top: 275.50px;
    left: 172.00px;
    width: 159.00px;
    height: 2.00px;
    z-index: 33;
}

#slide-Cirkadin-6-layer-32 {
    position: absolute;
    top: 394.90px;
    left: 357.50px;
    z-index: 32;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 20.00px;
    line-height: 21.60px;
    color: #FFFFFF;
}

#slide-Cirkadin-6-layer-31 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-31.png);
    position: absolute;
    top: 418.50px;
    left: 349.00px;
    width: 121.50px;
    height: 159.00px;
    z-index: 31;
}

#slide-Cirkadin-6-layer-29 {
    position: absolute;
    top: 423.27px;
    left: -143px;
    z-index: 29;
    text-align: center;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    line-height: 21.73px;
    color: #FFFFFF;
    -webkit-transform: rotate(270deg);
}

#slide-Cirkadin-6-layer-26 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-26.png);
    position: absolute;
    top: 582.50px;
    left: 135.50px;
    width: 788.00px;
    height: 2.00px;
    z-index: 26;
}

#slide-Cirkadin-6-layer-25 {
    position: absolute;
    top: 697.50px;
    left: 476.50px;
    z-index: 25;
    text-align: center;
    font-family: FuturaPTBook;
    color: #FFFFFF;
}

#slide-Cirkadin-6-layer-23 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-23.png);
    position: absolute;
    top: 662.50px;
    left: 131.00px;
    width: 790.50px;
    height: 2.00px;
    z-index: 23;
}

#slide-Cirkadin-6-layer-22 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-22.png);
    position: absolute;
    bottom: 0;
    left: 0.50px;
    width: 786.00px;
    height: 121.50px;
    z-index: 22;
}

#slide-Cirkadin-6-layer-21 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-21.png);
    position: absolute;
    bottom: 0;
    left: 0.50px;
    width: 432.00px;
    height: 451.50px;
    z-index: 21;
}

#slide-Cirkadin-6-layer-20 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-20.png);
    position: absolute;
    top: 541.00px;
    left: 136.50px;
    width: 786.00px;
    height: 121.50px;
    z-index: 20;
}

#slide-Cirkadin-6-layer-19 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-19.png);
    position: absolute;
    top: 213.50px;
    left: 137.50px;
    width: 786.00px;
    height: 390.00px;
    z-index: 19;
}

#slide-Cirkadin-6-layer-17 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-17.png);
    position: absolute;
    top: 213.50px;
    left: 922.50px;
    width: 1.50px;
    height: 451.50px;
    z-index: 17;
}

#slide-Cirkadin-6-layer-16 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-16.png);
    position: absolute;
    top: 213.50px;
    left: 773.00px;
    width: 2.00px;
    height: 451.50px;
    z-index: 16;
}

#slide-Cirkadin-6-layer-15 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-15.png);
    position: absolute;
    top: 213.50px;
    left: 634.00px;
    width: 2.00px;
    height: 451.50px;
    z-index: 15;
}

#slide-Cirkadin-6-layer-14 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-14.png);
    position: absolute;
    top: 213.50px;
    left: 501.00px;
    width: 1.50px;
    height: 451.50px;
    z-index: 14;
}

#slide-Cirkadin-6-layer-13 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-13.png);
    position: absolute;
    top: 213.50px;
    left: 370.00px;
    width: 1.50px;
    height: 451.50px;
    z-index: 13;
}

#slide-Cirkadin-6-layer-12 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-12.png);
    position: absolute;
    top: 213.50px;
    left: 235.00px;
    width: 2.00px;
    height: 451.50px;
    z-index: 12;
}

#slide-Cirkadin-6-layer-11 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-6/slide-Cirkadin-6-layer-11.png);
    position: absolute;
    top: 213.50px;
    left: 135.50px;
    width: 1.50px;
    height: 451.50px;
    z-index: 11;
}

#slide-Cirkadin-6-layer-9 {
    position: absolute;
    top: 679.00px;
    left: 230.00px;
    z-index: 9;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 13.58px;
    color: #FFFFFF;
    letter-spacing: 123px;
}

#slide-Cirkadin-6-layer-9 span {
    letter-spacing: 0;
}

#slide-Cirkadin-6-layer-8 {
    position: absolute;
    top: 648.22px;
    left: 123.00px;
    z-index: 8;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 13.58px;
    line-height: 15.28px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

#slide-Cirkadin-6-layer-7 {
    position: absolute;
    top: 537.72px;
    left: 115.50px;
    z-index: 7;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 13.58px;
    line-height: 15.28px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

#slide-Cirkadin-6-layer-6 {
    position: absolute;
    top: 426.72px;
    left: 115.50px;
    z-index: 6;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 13.58px;
    line-height: 15.28px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

#slide-Cirkadin-6-layer-5 {
    position: absolute;
    top: 315.22px;
    left: 115.00px;
    z-index: 5;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 13.58px;
    line-height: 15.28px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

#slide-Cirkadin-6-layer-4 {
    position: absolute;
    top: 198.72px;
    left: 115.00px;
    z-index: 4;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 13.58px;
    line-height: 15.28px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

#slide-Cirkadin-6-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/night.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}

.brown *,
.violet * {
    opacity: 0;
}

.graph-wrap {
    position: absolute;
    top: 211.50px;
    left: 137.50px;
    width: 0px;
    height: 451.50px;
    z-index: 21;
    overflow: hidden;
}

.brown .pulsate,
.violet .pulsate {
    -webkit-animation: pulsating 3s linear;
    -webkit-animation-iteration-count: 3;
    opacity: 1;
}

@-webkit-keyframes pulsating {
    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.75;
    }
}

@-keyframes pulsating {
    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.75;
    }
}