#slide-Cirkadin-18-layer-61 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-61.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 61;
}

#slide-Cirkadin-18-layer-60 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 60;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-18-layer-59 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 59;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-18-layer-58 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 58;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-18-layer-57 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-57.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 57;
}

#slide-Cirkadin-18-layer-56 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-56.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 56;
}

#slide-Cirkadin-18-layer-55 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-55.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 55;
}

#slide-Cirkadin-18-layer-54 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-54.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 54;
}

#slide-Cirkadin-18-layer-53 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-53.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 53;
}

#slide-Cirkadin-18-layer-52 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-52.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 52;
}

#slide-Cirkadin-18-layer-49 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-49.png);
    position: absolute;
    top: 520.00px;
    left: 897.00px;
    width: 89.00px;
    height: 52.00px;
    z-index: 49;
}

#slide-Cirkadin-18-layer-48 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-48.png);
    position: absolute;
    top: 520.00px;
    left: 889.50px;
    width: 131.50px;
    height: 89.50px;
    z-index: 48;
}

#slide-Cirkadin-18-layer-47 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-47.png);
    position: absolute;
    top: 413.00px;
    left: 837.50px;
    width: 186.50px;
    height: 322.00px;
    z-index: 47;
}

#slide-Cirkadin-18-layer-46 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-46.png);
    position: absolute;
    top: 477.00px;
    left: 612.00px;
    width: 412.00px;
    height: 291.00px;
    z-index: 46;
}

#slide-Cirkadin-18-layer-45 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-45.png);
    position: absolute;
    top: 365.50px;
    left: 610.50px;
    width: 177.50px;
    height: 322.00px;
    z-index: 45;
}

#slide-Cirkadin-18-layer-43 {
    position: absolute;
    top: 187.00px;
    left: 37.50px;
    z-index: 43;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-18-layer-42 {
    position: absolute;
    top: 22.00px;
    left: 41.50px;
    z-index: 42;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-18-layer-40 {
    position: absolute;
    top: 327.40px;
    left: 85.00px;
    z-index: 40;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #FFFFFF;
    display: none;
}

#slide-Cirkadin-18-layer-39 {
    position: absolute;
    top: 505.32px;
    left: 239.50px;
    z-index: 39;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 19.50px;
    line-height: 16.18px;
    color: #FFFFFE;
    display: none;
}

#slide-Cirkadin-18-layer-38 {
    position: absolute;
    top: 321.50px;
    left: 355.00px;
    z-index: 38;
    text-align: left;
    font-family: FuturaPTLight;
    font-size: 27.00px;
    color: #FFFFFF;
    line-height: 2px;
    display: none;
}

#slide-Cirkadin-18-layer-37 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-37.png);
    position: absolute;
    top: 325.50px;
    left: 386.00px;
    width: 114.50px;
    height: 1.00px;
    z-index: 37;
    display: none;
}

#slide-Cirkadin-18-layer-36 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-36.png);
    position: absolute;
    top: 325.50px;
    left: 230.50px;
    width: 114.50px;
    height: 1.00px;
    z-index: 36;
    display: none;
}

#slide-Cirkadin-18-layer-35 {
    position: absolute;
    top: 245.50px;
    left: 204.50px;
    z-index: 35;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 30.00px;
    color: #FFFFFF;
    line-height: 22px;
    display: none;
}

#slide-Cirkadin-18-layer-34 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-34.png);
    position: absolute;
    top: 250.00px;
    left: 226.00px;
    width: 122.00px;
    height: 1.00px;
    z-index: 34;
    display: none;
}

#slide-Cirkadin-18-layer-33 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-33.png);
    position: absolute;
    top: 250.00px;
    left: 78.00px;
    width: 122.00px;
    height: 1.00px;
    z-index: 33;
    display: none;
}

#slide-Cirkadin-18-layer-32 {
    position: absolute;
    top: 561.25px;
    left: 532.50px;
    z-index: 32;
    font-family: FuturaPTBook;
    font-size: 22.51px;
    line-height: 10.75px;
    color: #E3CFB2;
}

#slide-Cirkadin-18-layer-30 {
    position: absolute;
    top: 401.44px;
    left: 318.50px;
    z-index: 34;
    font-family: FuturaPTBold;
    font-size: 43.00px;
    line-height: 14.56px;
    color: #FFFFFF;
    opacity: 0 !important;
}

#slide-Cirkadin-18-layer-29 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-29.png);
    position: absolute;
    top: 348.00px;
    left: 307.50px;
    width: 127.50px;
    height: 128.00px;
    z-index: 33;
    opacity: 0 !important;
}

#slide-Cirkadin-18-layer-28 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-28.png);
    position: absolute;
    top: 225.50px;
    left: 50.00px;
    width: 471.00px;
    height: 462.00px;
    z-index: 28;
}

#slide-Cirkadin-18-layer-27 {
    position: absolute;
    top: 531.40px;
    left: 394.00px;
    z-index: 47;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #FFFFFF;
    display: none;
}

#slide-Cirkadin-18-layer-26_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-26_1.png);
    position: absolute;
    top: 10px;
    left: 0.00px;
    width: 436.50px;
    height: 388.00px;
    z-index: 26;
}

#slide-Cirkadin-18-layer-26_2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-26_2.png);
    position: absolute;
    top: 10px;
    left: 0.00px;
    width: 436.50px;
    height: 388.00px;
    z-index: 26;
}

#slide-Cirkadin-18-layer-26_3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-26_3.png);
    position: absolute;
    top: 10px;
    left: 0.00px;
    width: 436.50px;
    height: 388.00px;
    z-index: 26;
}

.state-1 .wrap {
    position: absolute;
    bottom: 81.00px;
    left: 74.00px;
    width: 436.50px;
    height: 0px;
    z-index: 31;
    overflow: hidden;
}

.state-1 .wrap.height {
    height: 388.0px;
    transition: height 0.5s ease-in;
    -webkit-transition: height 0.5s ease-in;
}

#slide-Cirkadin-18-layer-19 {
    position: absolute;
    top: 670.86px;
    left: 42.00px;
    z-index: 19;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-18-layer-18 {
    position: absolute;
    top: 557.36px;
    left: 41.50px;
    z-index: 18;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-18-layer-17 {
    position: absolute;
    top: 440.86px;
    left: 42.00px;
    z-index: 17;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-18-layer-16 {
    position: absolute;
    top: 326.86px;
    left: 36.00px;
    z-index: 16;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-18-layer-15 {
    position: absolute;
    top: 210.36px;
    left: 35.00px;
    z-index: 15;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-18-layer-13 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-10.png);
    position: absolute;
    top: 225.50px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 13;
    opacity: 0.18;
}

#slide-Cirkadin-18-layer-12 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-10.png);
    position: absolute;
    top: 343.00px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 12;
    opacity: 0.18;
}

#slide-Cirkadin-18-layer-11 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-10.png);
    position: absolute;
    top: 457.00px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 11;
    opacity: 0.18;
}

#slide-Cirkadin-18-layer-10 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-10.png);
    position: absolute;
    top: 572.00px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 10;
    opacity: 0.18;
}

#slide-Cirkadin-18-layer-8 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-8.png);
    position: absolute;
    top: 0.00px;
    left: 599.00px;
    width: 382.50px;
    height: 168.00px;
    z-index: 8;
}

#slide-Cirkadin-18-layer-6 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-6.png);
    position: absolute;
    top: 197.00px;
    left: 559.50px;
    width: 462.00px;
    height: 177.50px;
    z-index: 6;
}

#slide-Cirkadin-18-layer-5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-5.png);
    position: absolute;
    top: 146.00px;
    left: 434.50px;
    width: 391.00px;
    height: 340.50px;
    z-index: 5;
}

#slide-Cirkadin-18-layer-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-4.png);
    position: absolute;
    top: 197.00px;
    left: 559.50px;
    width: 462.00px;
    height: 177.50px;
    z-index: 4;
}

#slide-Cirkadin-18-layer-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-3.png);
    position: absolute;
    top: 197.00px;
    left: 559.50px;
    width: 462.00px;
    height: 177.50px;
    z-index: 3;
}

#slide-Cirkadin-18-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-18/slide-Cirkadin-18-layer-1.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}

.state-1 *,
.state-2 * {
    opacity: 0;
    visibility: hidden;
}

.button-1 {
    position: absolute;
    top: 200px;
    left: 550px;
    width: 150px;
    height: 150px;
    z-index: 200;
}

.button-2 {
    position: absolute;
    top: 200px;
    left: 714px;
    width: 150px;
    height: 150px;
    z-index: 200;
}

.button-3 {
    position: absolute;
    top: 200px;
    left: 872px;
    width: 150px;
    height: 150px;
    z-index: 200;
}

.pulsate {
    display: block;
    opacity: 1 !important;
    -webkit-animation: pulsating 3s linear;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-fill-mode: forwards;
}

.shine-1.pulsate,
.shine-2.pulsate,
.shine-3.pulsate {
    display: block;
    opacity: 0.6 !important;
    -webkit-animation: pulsatingTwo 3s linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
}

@-webkit-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

@-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulsating {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-keyframes pulsating {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.shine-1 {
    position: absolute;
    top: 147px;
    left: 434px;
    background: url(../images/Cirkadin-18/pict-1.png);
    background-size: 100%;
    width: 391px;
    height: 340px;
    z-index: 190;
    opacity: 0;
}

.shine-2 {
    position: absolute;
    top: 147px;
    left: 600px;
    background: url(../images/Cirkadin-18/pict-2.png);
    background-size: 100%;
    width: 391px;
    height: 340px;
    z-index: 190;
    opacity: 0;
}

.shine-3 {
    position: absolute;
    top: 147px;
    left: 766px;
    background: url(../images/Cirkadin-18/pict-3.png);
    background-size: 100%;
    width: 258px;
    height: 340px;
    z-index: 190;
    opacity: 0;
}