#slide-Cirkadin-14-layer-131 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-131.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 131;
}

#slide-Cirkadin-14-layer-130 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 130;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-14-layer-129 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 129;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-14-layer-128 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 128;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-14-layer-127 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-127.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 127;
}

#slide-Cirkadin-14-layer-126 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-126.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 126;
}

#slide-Cirkadin-14-layer-125 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-125.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 125;
}

#slide-Cirkadin-14-layer-124 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-124.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 124;
}

#slide-Cirkadin-14-layer-123 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-123.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 123;
}

#slide-Cirkadin-14-layer-122 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-122.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 122;
}

#slide-Cirkadin-14-layer-119 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-119.png);
    position: absolute;
    top: 377.00px;
    left: 754.50px;
    width: 179.00px;
    height: 294.50px;
    z-index: 119;
}

#slide-Cirkadin-14-layer-118 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-118.png);
    position: absolute;
    top: 630.00px;
    left: 865.50px;
    width: 158.50px;
    height: 107.00px;
    z-index: 118;
}

#slide-Cirkadin-14-layer-117 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-117.png);
    position: absolute;
    top: 283.50px;
    left: 665.00px;
    width: 359.00px;
    height: 456.50px;
    z-index: 117;
}

#slide-Cirkadin-14-layer-113 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-113.png);
    position: absolute;
    top: 622.50px;
    left: 892.00px;
    width: 122.50px;
    height: 66.00px;
    z-index: 113;
}

#slide-Cirkadin-14-layer-112 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-112.png);
    position: absolute;
    top: 620.50px;
    left: 614.50px;
    width: 409.50px;
    height: 147.50px;
    z-index: 112;
}

#slide-Cirkadin-14-layer-110 {
    position: absolute;
    top: 31.50px;
    left: 35.00px;
    z-index: 110;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-14-layer-107,
	#slide-Cirkadin-14-layer-107_1 {
    position: absolute;
    top: 163.00px;
    left: 37.50px;
    z-index: 107;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-14-layer-104 {
    position: absolute;
    top: 336.50px;
    left: 819.50px;
    z-index: 104;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 30.72px;
    color: #2C3235;
}

#slide-Cirkadin-14-layer-103 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-103.png);
    position: absolute;
    top: 297.00px;
    left: 857.50px;
    width: 105.00px;
    height: 98.00px;
    z-index: 103;
}

#slide-Cirkadin-14-layer-102 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-102.png);
    position: absolute;
    top: 297.00px;
    left: 806.00px;
    width: 166.00px;
    height: 104.00px;
    z-index: 102;
}

#slide-Cirkadin-14-layer-100 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/sad.png);
    position: absolute;
    top: 265.00px;
    left: 796.00px;
    width: 231.00px;
    height: 142.50px;
    z-index: 100;
}

#slide-Cirkadin-14-layer-100_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/sad-shine.png);
    position: absolute;
    top: 261px;
    left: 796.00px;
    width: 231.00px;
    height: 146.5px;
    z-index: 101;
}

#slide-Cirkadin-14-layer-97 {
    position: absolute;
    top: 198.00px;
    left: 927.50px;
    z-index: 97;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 25.90px;
}

#slide-Cirkadin-14-layer-96 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-96.png);
    position: absolute;
    top: 135.50px;
    left: 828.00px;
    width: 144.50px;
    height: 148.00px;
    z-index: 96;
}

#slide-Cirkadin-14-layer-95 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/dad.png);
    position: absolute;
    top: 147.5px;
    left: 792.5px;
    width: 231.00px;
    height: 126.00px;
    z-index: 95;
}

#slide-Cirkadin-14-layer-95_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/dad-shine.png);
    position: absolute;
    top: 147.5px;
    left: 793.5px;
    width: 230.00px;
    height: 121.00px;
    z-index: 96;
}

#slide-Cirkadin-14-layer-93 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-93.png);
    position: absolute;
    top: 212.00px;
    left: 791.00px;
    width: 233.00px;
    height: 214.00px;
    z-index: 93;
}

#slide-Cirkadin-14-layer-90 {
    position: absolute;
    top: 558.53px;
    left: 423.00px;
    z-index: 90;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 9.97px;
    color: #FFFFFF;
}

#slide-Cirkadin-14-layer-89 {
    position: absolute;
    top: 558.53px;
    left: 34.00px;
    z-index: 89;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 9.97px;
    color: #FFFFFF;
}

#slide-Cirkadin-14-layer-88 {
    position: absolute;
    top: 581.40px;
    left: 415.50px;
    z-index: 88;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 20.00px;
    line-height: 21.60px;
    color: #FFFFFF;
    width: 295px;
    display: none;
}

#slide-Cirkadin-14-layer-87 {
    position: absolute;
    top: 243.00px;
    left: 421.50px;
    z-index: 87;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #D7CCB9;
}

#slide-Cirkadin-14-layer-86 {
    position: absolute;
    top: 238.50px;
    left: 31.50px;
    z-index: 86;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    color: #D7CCB9;
}

#slide-Cirkadin-14-layer-84 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-84.png);
    position: absolute;
    top: 299.50px;
    left: 592.00px;
    width: 81.00px;
    height: 174.50px;
    z-index: 84;
}

#slide-Cirkadin-14-layer-83 {
    position: absolute;
    top: 253.50px;
    left: 671.50px;
    z-index: 83;
    font-family: FuturaPTBook;
    font-size: 15.00px;
    line-height: 36.50px;
    color: #9F9789;
}

#slide-Cirkadin-14-layer-82 {
    position: absolute;
    top: 513.50px;
    left: 579.00px;
    z-index: 82;
    font-family: FuturaPTBook;
    font-size: 15.00px;
    line-height: 36.50px;
    color: #9F9789;
}

#slide-Cirkadin-14-layer-81 {
    position: absolute;
    top: 316.08px;
    left: 662.50px;
    z-index: 81;
    font-family: FuturaPTBook;
    font-size: 13.00px;
    line-height: 32.42px;
    color: #FFFFFF;
}

#slide-Cirkadin-14-layer-81 span {
    color: #c5a3ff;
}

#slide-Cirkadin-14-layer-80 {
    position: absolute;
    top: 317.58px;
    left: 427.00px;
    z-index: 80;
    font-family: FuturaPTBook;
    font-size: 13.00px;
    line-height: 33.42px;
    color: #FFFFFF;
}

#slide-Cirkadin-14-layer-79,
	#slide-Cirkadin-14-layer-79_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-79.png);
    position: absolute;
    top: 394.50px;
    left: 601.50px;
    width: 6.00px;
    height: 7.50px;
    z-index: 79;
}

#slide-Cirkadin-14-layer-79_1 {
    width: 15px;
    left: 554px;
}

#slide-Cirkadin-14-layer-78 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-78.png);
    position: absolute;
    top: 397.50px;
    left: 522.00px;
    width: 125.00px;
    height: 1.50px;
    z-index: 78;
}

#slide-Cirkadin-14-layer-77,
	#slide-Cirkadin-14-layer-77_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-77.png);
    position: absolute;
    top: 364.50px;
    left: 577.50px;
    width: 10.50px;
    height: 7.50px;
    z-index: 77;
}

#slide-Cirkadin-14-layer-77_1 {
    width: 5px;
    left: 605px;
}

#slide-Cirkadin-14-layer-76 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-76.png);
    position: absolute;
    top: 367.50px;
    left: 522.00px;
    width: 125.00px;
    height: 1.00px;
    z-index: 76;
}

#slide-Cirkadin-14-layer-75,
	#slide-Cirkadin-14-layer-75_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-75.png);
    position: absolute;
    top: 331.00px;
    left: 575.00px;
    width: 8.00px;
    height: 7.50px;
    z-index: 75;
}

#slide-Cirkadin-14-layer-75_1 {
    width: 7px;
    left: 578px;
}

#slide-Cirkadin-14-layer-74 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-74.png);
    position: absolute;
    top: 333.00px;
    left: 522.00px;
    width: 125.00px;
    height: 1.50px;
    z-index: 74;
}

#slide-Cirkadin-14-layer-73 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-73.png);
    position: absolute;
    top: 269.50px;
    left: 631.00px;
    width: 2.00px;
    height: 235.00px;
    z-index: 73;
}

#slide-Cirkadin-14-layer-72 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-72.png);
    position: absolute;
    top: 506.00px;
    left: 426.50px;
    width: 343.00px;
    height: 2.00px;
    z-index: 72;
}

#slide-Cirkadin-14-layer-71 {
    position: absolute;
    top: 508.50px;
    left: 407.50px;
    z-index: 71;
    font-family: FuturaPTBook;
    font-size: 15.50px;
    color: #D7CCB9;
    letter-spacing: 31px;
}

#slide-Cirkadin-14-layer-71 span {
    letter-spacing: 0;
}

#slide-Cirkadin-14-layer-68 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-68.png);
    position: absolute;
    top: 299.50px;
    left: 159.00px;
    width: 81.00px;
    height: 174.50px;
    z-index: 68;
}

#slide-Cirkadin-14-layer-67 {
    position: absolute;
    top: 253.50px;
    left: 286.50px;
    z-index: 67;
    font-family: FuturaPTBook;
    font-size: 15.00px;
    line-height: 36.50px;
    color: #9F9789;
}

#slide-Cirkadin-14-layer-66 {
    position: absolute;
    top: 513.50px;
    left: 194.00px;
    z-index: 66;
    font-family: FuturaPTBook;
    font-size: 15.00px;
    line-height: 36.50px;
    color: #9F9789;
}

#slide-Cirkadin-14-layer-65 {
    position: absolute;
    top: 286.08px;
    left: 285.50px;
    z-index: 65;
    font-family: FuturaPTBook;
    font-size: 13.00px;
    line-height: 32.42px;
    color: #FFFFFF;
}

#slide-Cirkadin-14-layer-65 span {
    color: #c5a3ff;
}

#slide-Cirkadin-14-layer-64 {
    position: absolute;
    top: 286.08px;
    left: 40.50px;
    z-index: 64;
    font-family: FuturaPTBook;
    font-size: 13.00px;
    line-height: 32.42px;
    color: #FFFFFF;
}

#slide-Cirkadin-14-layer-63,
	#slide-Cirkadin-14-layer-63_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-63.png);
    position: absolute;
    top: 425.50px;
    left: 164.00px;
    width: 9.50px;
    height: 7.50px;
    z-index: 63;
}

#slide-Cirkadin-14-layer-63_1 {
    width: 9px;
    left: 164px;
}

#slide-Cirkadin-14-layer-62 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-62.png);
    position: absolute;
    top: 428.50px;
    left: 137.00px;
    width: 125.00px;
    height: 1.50px;
    z-index: 62;
}

#slide-Cirkadin-14-layer-61,
	#slide-Cirkadin-14-layer-61_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-61.png);
    position: absolute;
    top: 394.50px;
    left: 176.00px;
    width: 12.00px;
    height: 7.50px;
    z-index: 61;
}

#slide-Cirkadin-14-layer-61_1 {
    width: 6px;
    left: 193px;
}

#slide-Cirkadin-14-layer-60 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-60.png);
    position: absolute;
    top: 397.50px;
    left: 137.00px;
    width: 125.00px;
    height: 1.50px;
    z-index: 60;
}

#slide-Cirkadin-14-layer-59,
	#slide-Cirkadin-14-layer-59_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-59.png);
    position: absolute;
    top: 364.50px;
    left: 186.50px;
    width: 9.50px;
    height: 7.50px;
    z-index: 59;
}

#slide-Cirkadin-14-layer-59_1 {
    width: 6px;
    left: 188px;
}

#slide-Cirkadin-14-layer-58 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-58.png);
    position: absolute;
    top: 367.50px;
    left: 137.00px;
    width: 125.00px;
    height: 1.00px;
    z-index: 58;
}

#slide-Cirkadin-14-layer-57,
	#slide-Cirkadin-14-layer-57_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-57.png);
    position: absolute;
    top: 330.00px;
    left: 224.00px;
    width: 22.00px;
    height: 7.50px;
    z-index: 57;
}

#slide-Cirkadin-14-layer-57_1 {
    left: 218px;
    width: 29px;
}

#slide-Cirkadin-14-layer-56 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-56.png);
    position: absolute;
    top: 333.00px;
    left: 137.00px;
    width: 125.00px;
    height: 1.50px;
    z-index: 56;
}

#slide-Cirkadin-14-layer-55,
	#slide-Cirkadin-14-layer-55_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-55.png);
    position: absolute;
    top: 299.50px;
    left: 185.00px;
    width: 14.00px;
    height: 7.50px;
    z-index: 55;
}

#slide-Cirkadin-14-layer-55_1 {
    left: 148px;
    width: 14px;
}

#slide-Cirkadin-14-layer-54 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-54.png);
    position: absolute;
    top: 302.50px;
    left: 137.00px;
    width: 125.00px;
    height: 1.00px;
    z-index: 54;
}

#slide-Cirkadin-14-layer-53 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-53.png);
    position: absolute;
    top: 270.50px;
    left: 41.50px;
    width: 343.00px;
    height: 237.50px;
    z-index: 53;
}

#slide-Cirkadin-14-layer-52 {
    position: absolute;
    top: 508.50px;
    left: 25.50px;
    z-index: 52;
    font-family: FuturaPTBook;
    font-size: 15.50px;
    color: #D7CCB9;
    letter-spacing: 31px;
}

#slide-Cirkadin-14-layer-52 span {
    letter-spacing: 0;
}

#slide-Cirkadin-14-layer-50 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-50.png);
    position: absolute;
    top: 232.00px;
    left: 400.50px;
    width: 623.50px;
    height: 439.50px;
    z-index: 50;
    opacity: 0.1;
}

#slide-Cirkadin-14-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-14/slide-Cirkadin-14-layer-1.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}

.state-1 * {
    opacity: 0;
}

.button-1 {
    position: absolute;
    top: 150px;
    left: 820px;
    width: 200px;
    height: 110px;
    z-index: 300;
}

.button-2 {
    position: absolute;
    top: 290px;
    left: 797px;
    width: 200px;
    height: 110px;
    z-index: 300;
}

.shining.pulsate {
    display: block;
    opacity: 1;
    -webkit-animation: pulsatingTwo 3s linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

@-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}