#slide-Cirkadin-20-layer-66 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-66.png);
    position: absolute;
    top: 705.50px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 66;
}

#slide-Cirkadin-20-layer-65 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 65;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-20-layer-64 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 64;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-20-layer-63 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 63;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-20-layer-62 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-62.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 62;
}

#slide-Cirkadin-20-layer-61 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-61.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 61;
}

#slide-Cirkadin-20-layer-60 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-60.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 60;
}

#slide-Cirkadin-20-layer-59 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-59.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 59;
}

#slide-Cirkadin-20-layer-58 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-58.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 58;
}

#slide-Cirkadin-20-layer-57 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-57.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 57;
}

#slide-Cirkadin-20-layer-55 {
    position: absolute;
    top: 22.00px;
    left: 41.50px;
    z-index: 55;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-20-layer-54 {
    position: absolute;
    top: 187.00px;
    left: 39.00px;
    z-index: 54;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-20-layer-52 {
    position: absolute;
    top: 436.94px;
    left: 166.00px;
    z-index: 52;
    font-family: FuturaPTBold;
    font-size: 43.00px;
    line-height: 14.56px;
    color: #FFFFFF;
    opacity: 0 !important;
}

#slide-Cirkadin-20-layer-51 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-51.png);
    position: absolute;
    top: 383.50px;
    left: 157.00px;
    width: 127.50px;
    height: 128.00px;
    z-index: 51;
    opacity: 0 !important;
}

#slide-Cirkadin-20-layer-47 {
    position: absolute;
    top: 292.00px;
    left: 204.50px;
    z-index: 47;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 30.00px;
    color: #FFFFFF;
    display: none;
    line-height: 25px;
}

#slide-Cirkadin-20-layer-46 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-46.png);
    position: absolute;
    top: 296.50px;
    left: 226.00px;
    width: 122.00px;
    height: 1.00px;
    z-index: 46;
    display: none;
}

#slide-Cirkadin-20-layer-45 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-45.png);
    position: absolute;
    top: 296.50px;
    left: 78.00px;
    width: 122.00px;
    height: 1.00px;
    z-index: 45;
    display: none;
}

#slide-Cirkadin-20-layer-42 {
    position: absolute;
    top: 349.00px;
    left: 355.00px;
    z-index: 42;
    text-align: left;
    font-family: FuturaPTLight;
    font-size: 27.00px;
    color: #FFFFFF;
    line-height: 2px;
    display: none;
}

#slide-Cirkadin-20-layer-41 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-41.png);
    position: absolute;
    top: 353.00px;
    left: 386.00px;
    width: 114.50px;
    height: 1.00px;
    z-index: 41;
    display: none;
}

#slide-Cirkadin-20-layer-40 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-40.png);
    position: absolute;
    top: 353.00px;
    left: 230.50px;
    width: 114.50px;
    height: 1.00px;
    z-index: 40;
    display: none;
}

#slide-Cirkadin-20-layer-38 {
    position: absolute;
    top: 350.90px;
    left: 85.00px;
    z-index: 38;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #FFFFFF;
    display: none;
}

#slide-Cirkadin-20-layer-37 {
    position: absolute;
    top: 525.82px;
    left: 239.50px;
    z-index: 37;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 19.50px;
    line-height: 16.18px;
    color: #FFFFFE;
    display: none;
}

#slide-Cirkadin-20-layer-36 {
    position: absolute;
    top: 561.25px;
    left: 532.00px;
    z-index: 36;
    font-family: FuturaPTBook;
    font-size: 22.51px;
    line-height: 10.75px;
    color: #E3CFB2;
}

#slide-Cirkadin-20-layer-34 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-34.png);
    position: absolute;
    top: 225.50px;
    left: 54.50px;
    width: 1.50px;
    height: 462.00px;
    z-index: 34;
}

#slide-Cirkadin-20-layer-33 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-33.png);
    position: absolute;
    top: 685.00px;
    left: 50.00px;
    width: 471.00px;
    height: 2.00px;
    z-index: 33;
}

#slide-Cirkadin-20-layer-32 {
    position: absolute;
    top: 457.90px;
    left: 390.50px;
    z-index: 32;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #FFFFFF;
    display: none;
}

#slide-Cirkadin-20-layer-31_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-31_1.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 434.50px;
    height: 358.50px;
    z-index: 31;
}

#slide-Cirkadin-20-layer-31_2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-31_2.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 434.50px;
    height: 358.50px;
    z-index: 31;
}

#slide-Cirkadin-20-layer-31_3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-31_3.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 434.50px;
    height: 358.50px;
    z-index: 31;
}

.state-3 .wrap {
    position: absolute;
    bottom: 71.00px;
    left: 76.00px;
    width: 434.50px;
    height: 0;
    z-index: 31;
    overflow: hidden;
}

.state-3 .wrap.height {
    height: 358.50px;
    transition: height 0.5s ease-in;
    -webkit-transition: height 0.5s ease-in;
}

#slide-Cirkadin-20-layer-24 {
    position: absolute;
    top: 670.86px;
    left: 42.00px;
    z-index: 24;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-20-layer-23 {
    position: absolute;
    top: 556.86px;
    left: 36.00px;
    z-index: 23;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-20-layer-22 {
    position: absolute;
    top: 441.36px;
    left: 36.5px;
    z-index: 22;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-20-layer-21 {
    position: absolute;
    top: 326.86px;
    left: 35.5px;
    z-index: 21;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-20-layer-20 {
    position: absolute;
    top: 211.36px;
    left: 35.5px;
    z-index: 20;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 4px;
}

#slide-Cirkadin-20-layer-18 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-18.png);
    position: absolute;
    top: 225.50px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 18;
}

#slide-Cirkadin-20-layer-17 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-17.png);
    position: absolute;
    top: 343.00px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 17;
}

#slide-Cirkadin-20-layer-16 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-16.png);
    position: absolute;
    top: 457.00px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 16;
}

#slide-Cirkadin-20-layer-15 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-15.png);
    position: absolute;
    top: 572.00px;
    left: 54.50px;
    width: 466.00px;
    height: 60.50px;
    z-index: 15;
}

#slide-Cirkadin-20-layer-12 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-12.png);
    position: absolute;
    top: 0.00px;
    left: 599.00px;
    width: 382.50px;
    height: 168.00px;
    z-index: 12;
}

#slide-Cirkadin-20-layer-11 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-11.png);
    position: absolute;
    top: 604.50px;
    left: 434.00px;
    width: 590.00px;
    height: 163.50px;
    z-index: 11;
}

#slide-Cirkadin-20-layer-10 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-10.png);
    position: absolute;
    top: 520.00px;
    left: 897.00px;
    width: 89.00px;
    height: 52.00px;
    z-index: 10;
}

#slide-Cirkadin-20-layer-9 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-9.png);
    position: absolute;
    top: 413.00px;
    left: 837.50px;
    width: 186.50px;
    height: 322.00px;
    z-index: 9;
}

#slide-Cirkadin-20-layer-8 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-8.png);
    position: absolute;
    top: 365.00px;
    left: 610.50px;
    width: 177.50px;
    height: 322.00px;
    z-index: 8;
}

#slide-Cirkadin-20-layer-5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-5.png);
    position: absolute;
    top: 197.00px;
    left: 559.50px;
    width: 462.00px;
    height: 177.50px;
    z-index: 5;
}

#slide-Cirkadin-20-layer-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-4.png);
    position: absolute;
    top: 146.00px;
    left: 765.50px;
    width: 258.50px;
    height: 340.50px;
    z-index: 4;
}

#slide-Cirkadin-20-layer-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-3.png);
    position: absolute;
    top: 197.00px;
    left: 559.50px;
    width: 462.00px;
    height: 177.50px;
    z-index: 3;
}

#slide-Cirkadin-20-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-20/slide-Cirkadin-20-layer-1.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}
