#slide-Cirkadin-23-layer-52 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-52.png?v=2415233145);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 52;
}

#slide-Cirkadin-23-layer-51 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 51;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-23-layer-50 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 50;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-23-layer-49 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 49;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-23-layer-48 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-48.png?v=2415233145);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 48;
}

#slide-Cirkadin-23-layer-47 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-47.png?v=2415233145);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 47;
}

#slide-Cirkadin-23-layer-46 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-46.png?v=2415233145);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 46;
}

#slide-Cirkadin-23-layer-45 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-45.png?v=2415233145);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 45;
}

#slide-Cirkadin-23-layer-44 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-44.png?v=2415233145);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 44;
}

#slide-Cirkadin-23-layer-43 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-43.png?v=2415233145);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 43;
}

#slide-Cirkadin-23-layer-41 {
    position: absolute;
    top: 8.00px;
    left: 40.50px;
    z-index: 41;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-23-layer-40 {
    position: absolute;
    top: 165.00px;
    left: 42.00px;
    z-index: 40;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-23-layer-38 {
    position: absolute;
    top: 514.04px;
    left: 623.5px;
    z-index: 38;
    text-align: center;
    font-family: FuturaPTBold;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 0.6;
}

#slide-Cirkadin-23-layer-37 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-37.png?v=2415233145);
    position: absolute;
    top: 495.50px;
    left: 615.00px;
    width: 76.00px;
    height: 76.00px;
    z-index: 37;
}

#slide-Cirkadin-23-layer-34 {
    position: absolute;
    top: 300.54px;
    left: 623.5px;
    z-index: 34;
    text-align: center;
    font-family: FuturaPTBold;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 0.6;
}

#slide-Cirkadin-23-layer-38 span {
    font-size: 16px;
    letter-spacing: 1px;
}

#slide-Cirkadin-23-layer-34 span {
    font-size: 16px;
    letter-spacing: 1px;
}

#slide-Cirkadin-23-layer-33 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-33.png?v=2415233145);
    position: absolute;
    top: 280.00px;
    left: 615.00px;
    width: 76.00px;
    height: 76.00px;
    z-index: 33;
}

#slide-Cirkadin-23-layer-29 {
    position: absolute;
    top: 707.00px;
    left: 606.50px;
    z-index: 29;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 15.07px;
    color: #FFFFFF;
}

#slide-Cirkadin-23-layer-28 {
    position: absolute;
    top: 707.00px;
    left: 420.50px;
    z-index: 28;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 15.07px;
    color: #FFFFFF;
}

#slide-Cirkadin-23-layer-27 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-27.png?v=2415233145);
    position: absolute;
    top: 713.50px;
    left: 547.00px;
    width: 52.00px;
    height: 4.00px;
    z-index: 27;
}

#slide-Cirkadin-23-layer-26 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-26.png?v=2415233145);
    position: absolute;
    top: 713.50px;
    left: 358.50px;
    width: 52.00px;
    height: 4.00px;
    z-index: 26;
}

#slide-Cirkadin-23-layer-23 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-23.png?v=2415233145);
    position: absolute;
    top: 216.00px;
    left: 546.00px;
    width: 1.50px;
    height: 462.00px;
    z-index: 23;
}

#slide-Cirkadin-23-layer-22 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-22.png?v=2415233145);
    position: absolute;
    top: 216.00px;
    left: 357.00px;
    width: 1.50px;
    height: 462.00px;
    z-index: 22;
}

#slide-Cirkadin-23-layer-21 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-21.png?v=2415233145);
    position: absolute;
    top: 216.00px;
    left: 168.50px;
    width: 1.50px;
    height: 462.00px;
    z-index: 21;
}

#slide-Cirkadin-23-layer-20 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-20.png?v=2415233145);
    position: absolute;
    top: 675.50px;
    left: 164.00px;
    width: 574.50px;
    height: 2.50px;
    z-index: 20;
}

#slide-Cirkadin-23-layer-19 {
    position: absolute;
    top: 654.00px;
    left: 619.50px;
    z-index: 19;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-23-layer-18 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-18.png?v=2415233145);
    position: absolute;
    top: 36px;
    left: 93px;
    width: 376.50px;
    height: 116.50px;
    z-index: 18;
}

#slide-Cirkadin-23-layer-17 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-17.png?v=2415233145);
    position: absolute;
    top: 36.5px;
    left: 93px;
    width: 376.00px;
    height: 113.50px;
    z-index: 17;
    opacity: 0.7;
}

#slide-Cirkadin-23-layer-16 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-16.png?v=2415233145);
    position: absolute;
    top: 258.5px;
    left: 93px;
    width: 376.00px;
    height: 114.50px;
    z-index: 16;
}

#slide-Cirkadin-23-layer-15 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-15.png?v=2415233145);
    position: absolute;
    top: 258.5px;
    left: 93px;
    width: 376.00px;
    height: 112.00px;
    z-index: 15;
    opacity: 0.7;
}

#slide-Cirkadin-23-layer-14 {
    position: absolute;
    top: 654.00px;
    left: 427.00px;
    z-index: 14;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-23-layer-13 {
    position: absolute;
    top: 654.00px;
    left: 221.50px;
    z-index: 13;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-23-layer-12 {
    position: absolute;
    top: 432.5px;
    left: 37px;
    z-index: 12;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
    -webkit-transform: rotate(270deg);
}

#slide-Cirkadin-23-layer-11 {
    position: absolute;
    top: 661px;
    left: 148.50px;
    z-index: 11;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-23-layer-10 {
    position: absolute;
    top: 569.36px;
    left: 146.50px;
    width: 22px;
    z-index: 10;
    text-transform: uppercase;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-23-layer-9 {
    position: absolute;
    top: 474.86px;
    left: 148.00px;
    z-index: 9;
    text-transform: uppercase;
    width: 22px;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-23-layer-8 {
    position: absolute;
    top: 383.86px;
    left: 148.00px;
    z-index: 8;
    text-transform: uppercase;
    width: 22px;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-23-layer-7 {
    position: absolute;
    top: 291.36px;
    left: 147.50px;
    z-index: 7;
    text-transform: uppercase;
    width: 22px;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-23-layer-6 {
    position: absolute;
    top: 199.86px;
    left: 147.00px;
    z-index: 6;
    text-transform: uppercase;
    width: 22px;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-23-layer-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-4.png?v=2415233145);
    position: absolute;
    top: 215.00px;
    left: 169.50px;
    width: 567.50px;
    height: 418.00px;
    z-index: 4;
}

#slide-Cirkadin-23-layer-2 {
    position: absolute;
    top: 481.50px;
    left: 773.00px;
    z-index: 2;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.08px;
    color: #A48DCB;
    display: none;
}

#slide-Cirkadin-23-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-23/slide-Cirkadin-23-layer-1.png?v=2415233145);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}

.graph-wrap {
    position: absolute;
    top: 215.00px;
    left: 169.50px;
    width: 0px;
    height: 418.00px;
    z-index: 4;
}

.circle * {
    opacity: 0;
}

.circle .pulsate {
    -webkit-animation: pulsating 3s linear;
    -webkit-animation-iteration-count: 3;
    opacity: 1;
}

@-webkit-keyframes pulsating {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

@-keyframes pulsating {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}