#slide-Cirkadin-10-layer-147 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-147.png);
    position: absolute;
    top: 656.00px;
    left: 626.00px;
    width: 151.00px;
    height: 102.00px;
    z-index: 147;
}

#slide-Cirkadin-10-layer-146 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-146.png);
    position: absolute;
    top: 714.00px;
    left: 599.00px;
    width: 187.00px;
    height: 54.00px;
    z-index: 146;
}

#slide-Cirkadin-10-layer-142 {
    position: absolute;
    top: 178.00px;
    left: 32.50px;
    z-index: 142;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-139 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-139.png);
    position: absolute;
    top: 253.50px;
    left: 351.50px;
    width: 21.00px;
    height: 30.00px;
    z-index: 139;
}

#slide-Cirkadin-10-layer-138 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-138.png);
    position: absolute;
    top: 303.50px;
    left: 351.50px;
    width: 21.00px;
    height: 30.00px;
    z-index: 138;
}

#slide-Cirkadin-10-layer-137 {
    position: absolute;
    top: 259.5px;
    left: 385.00px;
    z-index: 137;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-136 {
    position: absolute;
    top: 308.00px;
    left: 382.50px;
    z-index: 136;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.00px;
    color: #FFFFFE;
}

#slide-Cirkadin-10-layer-135 {
    position: absolute;
    top: 337.53px;
    left: 384.00px;
    z-index: 135;
    font-family: FuturaPTBook;
    font-size: 20.88px;
    line-height: 9.97px;
    color: #E3CFB2;
}

#slide-Cirkadin-10-layer-132 {
    position: absolute;
    top: 669.00px;
    left: 414.50px;
    z-index: 132;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-130_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-130_1.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 130;
}

#slide-Cirkadin-10-layer-130_2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-130_2.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 130;
}

#slide-Cirkadin-10-layer-130_3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-130_3.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 130;
}

#slide-Cirkadin-10-layer-130_4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-130_4.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 130;
}

#slide-Cirkadin-10-layer-130_arr {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-130_arr.png);
    position: absolute;
    top: 298.50px;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 130;
    opacity: 0;
}

#slide-Cirkadin-10-layer-121 {
    position: absolute;
    top: 680.50px;
    left: 128.50px;
    z-index: 121;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-120 {
    position: absolute;
    top: 644.00px;
    left: 25.00px;
    z-index: 120;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-119 {
    position: absolute;
    top: 538.50px;
    left: 25.00px;
    z-index: 119;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-118 {
    position: absolute;
    top: 433.50px;
    left: 25.00px;
    z-index: 118;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-117 {
    position: absolute;
    top: 327.50px;
    left: 25.50px;
    z-index: 117;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-116 {
    position: absolute;
    top: 217.00px;
    left: 25.00px;
    z-index: 116;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-114 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-31.png);
    position: absolute;
    top: 242.50px;
    left: 44.00px;
    width: 614.00px;
    height: 56.00px;
    z-index: 11;
    opacity: 0.18;
}

#slide-Cirkadin-10-layer-113 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-31.png);
    position: absolute;
    top: 351.50px;
    left: 44.00px;
    width: 614.00px;
    height: 56.00px;
    z-index: 11;
    opacity: 0.18;
}

#slide-Cirkadin-10-layer-112 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-31.png);
    position: absolute;
    top: 457.50px;
    left: 44.00px;
    width: 614.00px;
    height: 56.00px;
    z-index: 11;
    opacity: 0.18;
}

#slide-Cirkadin-10-layer-111 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-31.png);
    position: absolute;
    top: 564.00px;
    left: 44.00px;
    width: 614.00px;
    height: 56.00px;
    z-index: 11;
    opacity: 0.18;
}

#slide-Cirkadin-10-layer-108 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-108.png);
    position: absolute;
    top: 142.50px;
    left: 762.50px;
    width: 193.50px;
    height: 449.50px;
    z-index: 108;
}

#slide-Cirkadin-10-layer-107 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-107.png);
    position: absolute;
    top: 143.00px;
    left: 762.50px;
    width: 193.50px;
    height: 449.50px;
    z-index: 107;
}

#slide-Cirkadin-10-layer-106 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-106.png);
    position: absolute;
    top: 138.00px;
    left: 759.50px;
    width: 210.00px;
    height: 466.50px;
    z-index: 226;
}

#slide-Cirkadin-10-layer-105 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-105.png);
    position: absolute;
    top: 0.00px;
    left: 588.00px;
    width: 436.00px;
    height: 494.50px;
    z-index: 105;
}

#slide-Cirkadin-10-layer-100 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-100.png);
    position: absolute;
    top: 638.50px;
    left: 634.00px;
    width: 135.00px;
    height: 114.00px;
    z-index: 148;
    display: none;
}

#slide-Cirkadin-10-layer-99 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-99.png);
    position: absolute;
    top: 714.00px;
    left: 599.00px;
    width: 187.00px;
    height: 54.00px;
    z-index: 99;
}

#slide-Cirkadin-10-layer-97 {
    position: absolute;
    top: 178.00px;
    left: 32.50px;
    z-index: 97;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-95 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-95.png);
    position: absolute;
    top: 258.00px;
    left: 367.00px;
    width: 21.00px;
    height: 30.00px;
    z-index: 95;
}

#slide-Cirkadin-10-layer-94 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-94.png);
    position: absolute;
    top: 308.00px;
    left: 367.00px;
    width: 21.00px;
    height: 30.00px;
    z-index: 94;
}

#slide-Cirkadin-10-layer-93 {
    position: absolute;
    top: 263.00px;
    left: 400.50px;
    z-index: 93;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-92 {
    position: absolute;
    top: 312.50px;
    left: 398.00px;
    z-index: 92;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.00px;
    color: #FFFFFE;
}

#slide-Cirkadin-10-layer-91 {
    position: absolute;
    top: 342.03px;
    left: 399.50px;
    z-index: 91;
    font-family: FuturaPTBook;
    font-size: 20.88px;
    line-height: 9.97px;
    color: #E3CFB2;
}

#slide-Cirkadin-10-layer-89 {
    position: absolute;
    top: 669.00px;
    left: 414.50px;
    z-index: 89;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-87-1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-87-1.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 319.00px;
    z-index: 87;
}

#slide-Cirkadin-10-layer-87-2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-87-2.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 319.00px;
    z-index: 87;
}

#slide-Cirkadin-10-layer-87-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-87-3.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 319.00px;
    z-index: 87;
}

#slide-Cirkadin-10-layer-87-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-87-4.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 319.00px;
    z-index: 87;
}

#slide-Cirkadin-10-layer-87_arr {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-87_arr.png);
    position: absolute;
    top: 351.00px;
    left: 66.00px;
    width: 543.00px;
    height: 319.00px;
    z-index: 87;
    opacity: 0;
}

#slide-Cirkadin-10-layer-78 {
    position: absolute;
    top: 665.50px;
    left: 128.50px;
    z-index: 78;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-77 {
    position: absolute;
    top: 644.00px;
    left: 25.00px;
    z-index: 77;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-76 {
    position: absolute;
    top: 538.50px;
    left: 25.00px;
    z-index: 76;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-75 {
    position: absolute;
    top: 433.50px;
    left: 25.00px;
    z-index: 75;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-74 {
    position: absolute;
    top: 327.50px;
    left: 25.50px;
    z-index: 74;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-73 {
    position: absolute;
    top: 217.00px;
    left: 25.00px;
    z-index: 73;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-65 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-65.png);
    position: absolute;
    top: 143.00px;
    left: 762.50px;
    width: 193.50px;
    height: 449.50px;
    z-index: 65;
}

#slide-Cirkadin-10-layer-64 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-64.png);
    position: absolute;
    top: 138.00px;
    left: 759.50px;
    width: 210.00px;
    height: 466.50px;
    z-index: 640;
}

#slide-Cirkadin-10-layer-63 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-63.png);
    position: absolute;
    top: 253.50px;
    left: 588.00px;
    width: 436.00px;
    height: 514.50px;
    z-index: 63;
}

#slide-Cirkadin-10-layer-57 {
    position: absolute;
    top: 493.00px;
    left: 565.00px;
    z-index: 57;
    font-family: FuturaPTBold;
    font-size: 40.00px;
    color: #FFFFFF;
    opacity: 0;
}

#slide-Cirkadin-10-layer-56 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-56.png);
    position: absolute;
    top: 461.50px;
    left: 557.00px;
    width: 119.00px;
    height: 119.50px;
    z-index: 56;
    opacity: 0;
}

#slide-Cirkadin-10-layer-55 {
    position: absolute;
    top: 680.50px;
    left: 414.50px;
    z-index: 55;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-54 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-54.png);
    position: absolute;
    top: 242.50px;
    left: 40.00px;
    width: 618.00px;
    height: 453.50px;
    z-index: 54;
}

#slide-Cirkadin-10-layer-53_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-53_1.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 53;
}

.wrap {
    bottom: 98.50px;
    left: 0px;
    width: 1000.00px;
    height: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transition: height 0.8s ease-in;
}

.wrap.height {
    height: 780px !important;
}

#slide-Cirkadin-10-layer-53_2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-53_2.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 53;
}

#slide-Cirkadin-10-layer-53_3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-53_3.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 53;
}

#slide-Cirkadin-10-layer-53_4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-53_4.png);
    position: absolute;
    bottom: 0;
    left: 66.00px;
    width: 543.00px;
    height: 371.50px;
    z-index: 53;
}

#slide-Cirkadin-10-layer-51 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-51.png);
    position: absolute;
    top: 526.50px;
    left: 500.00px;
    width: 109.00px;
    height: 143.50px;
    z-index: 51;
}

#slide-Cirkadin-10-layer-50 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-50.png);
    position: absolute;
    top: 407.50px;
    left: 380.50px;
    width: 109.00px;
    height: 262.50px;
    z-index: 50;
}

#slide-Cirkadin-10-layer-49 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-49.png);
    position: absolute;
    top: 298.50px;
    left: 185.50px;
    width: 109.00px;
    height: 371.50px;
    z-index: 49;
}

#slide-Cirkadin-10-layer-48 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-48.png);
    position: absolute;
    top: 298.50px;
    left: 66.00px;
    width: 109.00px;
    height: 371.50px;
    z-index: 48;
}

#slide-Cirkadin-10-layer-46 {
    position: absolute;
    top: 665.50px;
    left: 128.50px;
    z-index: 46;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-45 {
    position: absolute;
    top: 644.00px;
    left: 25.00px;
    z-index: 45;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-44 {
    position: absolute;
    top: 538.50px;
    left: 25.00px;
    z-index: 44;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-43 {
    position: absolute;
    top: 433.50px;
    left: 25.00px;
    z-index: 43;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-42 {
    position: absolute;
    top: 327.50px;
    left: 25.50px;
    z-index: 42;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-41 {
    position: absolute;
    top: 217.00px;
    left: 25.00px;
    z-index: 41;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.89px;
    line-height: 14.50px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-39 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-39.png);
    position: absolute;
    top: 253.50px;
    left: 510.00px;
    width: 21.00px;
    height: 30.00px;
    z-index: 39;
}

#slide-Cirkadin-10-layer-38 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-38.png);
    position: absolute;
    top: 303.50px;
    left: 510.00px;
    width: 21.00px;
    height: 30.00px;
    z-index: 38;
}

#slide-Cirkadin-10-layer-37 {
    position: absolute;
    top: 258.50px;
    left: 543.50px;
    z-index: 37;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-36 {
    position: absolute;
    top: 308.00px;
    left: 541.00px;
    z-index: 36;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.00px;
    color: #FFFFFE;
}

#slide-Cirkadin-10-layer-35 {
    position: absolute;
    top: 337.53px;
    left: 542.50px;
    z-index: 35;
    font-family: FuturaPTBook;
    font-size: 20.88px;
    line-height: 9.97px;
    color: #E3CFB2;
}

#slide-Cirkadin-10-layer-29 {
    position: absolute;
    top: 178.00px;
    left: 32.50px;
    z-index: 29;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-10-layer-27 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-27.png);
    position: absolute;
    top: 142.50px;
    left: 762.50px;
    width: 193.50px;
    height: 449.50px;
    z-index: 27;
}

#slide-Cirkadin-10-layer-26 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-26.png);
    position: absolute;
    top: 138.00px;
    left: 759.50px;
    width: 210.00px;
    height: 466.50px;
    z-index: 260;
}

#slide-Cirkadin-10-layer-21 {
    position: absolute;
    top: 18.50px;
    left: 36.50px;
    z-index: 21;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-10-layer-19 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-19.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 19;
}

#slide-Cirkadin-10-layer-18 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 18;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-10-layer-17 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 17;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-10-layer-16 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 16;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-10-layer-15 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-15.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 15;
}

#slide-Cirkadin-10-layer-14 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-14.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 14;
}

#slide-Cirkadin-10-layer-13 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-13.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 13;
}

#slide-Cirkadin-10-layer-12 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-12.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 12;
}

#slide-Cirkadin-10-layer-11 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-11.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 11;
}

#slide-Cirkadin-10-layer-10 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-10.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 10;
}

#slide-Cirkadin-10-layer-8 {
    position: absolute;
    top: 380.50px;
    left: 678.50px;
    z-index: 8;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 30.21px;
    color: #BFD1D8;
    -webkit-transform: rotate(20deg);
    opacity: 0.3;
}

#slide-Cirkadin-10-layer-7 {
    position: absolute;
    top: 441.50px;
    left: 680.00px;
    z-index: 7;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 29.75px;
    color: #BFD1D8;
    -webkit-transform: rotate(-5deg);
    opacity: 0.5;
}

#slide-Cirkadin-10-layer-6 {
    position: absolute;
    top: 509.50px;
    left: 668.00px;
    z-index: 6;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 27.78px;
    color: #BFD1D8;
    -webkit-transform: rotate(-55deg);
    opacity: 0.7;
}

#slide-Cirkadin-10-layer-5 {
    position: absolute;
    top: 572.00px;
    left: 685.50px;
    z-index: 5;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 25.23px;
    color: #BFD1D8;
    -webkit-transform: rotate(15deg);
    opacity: 0.9;
}

#slide-Cirkadin-10-layer-4 {
    position: absolute;
    top: 613.50px;
    left: 677.00px;
    z-index: 4;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 21.80px;
    color: #BFD1D8;
    -webkit-transform: rotate(-5deg);
    opacity: 0.9;
}

#slide-Cirkadin-10-layer-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-3.png);
    position: absolute;
    top: 148.50px;
    left: 0.00px;
    width: 133.50px;
    height: 541.00px;
    z-index: 3;
}

#slide-Cirkadin-10-layer-2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-10/slide-Cirkadin-10-layer-2.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 2;
}

.button-1 {
    position: absolute;
    top: 130px;
    left: 767px;
    width: 200px;
    height: 150px;
    z-index: 1005;
}

.button-2 {
    position: absolute;
    top: 300px;
    left: 757px;
    width: 200px;
    height: 160px;
    z-index: 1005;
}

.button-3 {
    position: absolute;
    top: 470px;
    left: 777px;
    width: 200px;
    height: 136px;
    z-index: 1005;
}

.pulsate {
    display: block;
    opacity: 1;
    -webkit-animation: pulsating 3s linear;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-fill-mode: forwards;
}

.shining.pulsate {
    display: block;
    opacity: 1;
    -webkit-animation: pulsatingTwo 3s linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
}

@-webkit-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

@-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulsating {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-keyframes pulsating {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

