#slide-Cirkadin-24-layer-115 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-115.png);
    position: absolute;
    top: 602.50px;
    left: 747.00px;
    width: 108.00px;
    height: 153.50px;
    z-index: 115;
}

#slide-Cirkadin-24-layer-114 {
    position: absolute;
    top: 167.00px;
    left: 42.00px;
    z-index: 114;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-24-layer-112 {
    position: absolute;
    top: 279.40px;
    left: 470.50px;
    z-index: 112;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-111 {
    position: absolute;
    top: 307.82px;
    left: 580px;
    z-index: 111;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 16.18px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-110 {
    position: absolute;
    top: 310.90px;
    left: 693.5px;
    z-index: 110;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-109 {
    position: absolute;
    top: 279.40px;
    left: 87.00px;
    z-index: 109;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-108 {
    position: absolute;
    top: 278.82px;
    left: 194.5px;
    z-index: 108;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 16.18px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-107 {
    position: absolute;
    top: 308.90px;
    left: 309px;
    z-index: 107;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-106 {
    position: absolute;
    top: 491.50px;
    left: 577.50px;
    z-index: 106;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 29.33px;
    color: #F7F7F7;
    display: none;
}

#slide-Cirkadin-24-layer-105 {
    position: absolute;
    top: 497.00px;
    left: 614.00px;
    z-index: 105;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 45.10px;
    color: #F7F7F7;
    display: none;
}

#slide-Cirkadin-24-layer-104 {
    position: absolute;
    top: 497.50px;
    left: 234.00px;
    z-index: 104;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 45.10px;
    color: #F7F7F7;
    display: none;
}

#slide-Cirkadin-24-layer-103 {
    position: absolute;
    top: 711.25px;
    left: 320.50px;
    z-index: 103;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 10.75px;
    color: #E3CFB2;
}

#slide-Cirkadin-24-layer-101 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-101.png);
    position: absolute;
    top: 225.50px;
    left: 433.50px;
    width: 1.50px;
    height: 462.00px;
    z-index: 101;
}

#slide-Cirkadin-24-layer-100 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-100.png);
    position: absolute;
    top: 225.50px;
    left: 54.50px;
    width: 1.50px;
    height: 462.00px;
    z-index: 100;
}

#slide-Cirkadin-24-layer-99 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-99.png);
    position: absolute;
    top: 303.00px;
    left: 54.50px;
    width: 752.00px;
    height: 2.00px;
    z-index: 99;
}

#slide-Cirkadin-24-layer-98_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-98_1.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 458.00px;
    z-index: 98;
}

#slide-Cirkadin-24-layer-98_2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-98_2.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 458.00px;
    z-index: 98;
}

#slide-Cirkadin-24-layer-98_3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-98_3.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 727.00px;
    height: 458.00px;
    z-index: 98;
}

#slide-Cirkadin-24-layer-98_4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-98_4.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 458.00px;
    z-index: 98;
}

#slide-Cirkadin-24-layer-98_5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-98_5.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 727.00px;
    height: 458.00px;
    z-index: 98;
}

#slide-Cirkadin-24-layer-98_6 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-98_6.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 727.00px;
    height: 458.00px;
    z-index: 98;
}

.state-1 .wrap {
    position: absolute;
    bottom: 72.00px;
    left: 74.00px;
    width: 727.00px;
    height: 0.00px;
    z-index: 98;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.state-1 .wrap.height {
    height: 458px;
}

.state-1 .wrap:nth-of-type(3),
    .state-1 .wrap:nth-of-type(6),
    .state-1 .wrap:nth-of-type(5) {
    top: 237px;
}

#slide-Cirkadin-24-layer-97 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-97.png);
    position: absolute;
    top: 586.00px;
    left: 342.50px;
    width: 27.00px;
    height: 49.00px;
    z-index: 97;
    opacity: 0 !important;
}

#slide-Cirkadin-24-layer-96 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-96.png);
    position: absolute;
    top: 424.00px;
    left: 306.50px;
    width: 99.00px;
    height: 0;
    z-index: 96;
    opacity: 0.3 !important;
}

#slide-Cirkadin-24-layer-96.height {
    height: 262.50px;
    transition: height 0.5s ease-in;
}

#slide-Cirkadin-24-layer-95 {
    position: absolute;
    top: 672.86px;
    left: 37.50px;
    z-index: 95;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-94 {
    position: absolute;
    top: 516.86px;
    left: 37.50px;
    z-index: 94;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-93 {
    position: absolute;
    top: 685.00px;
    left: 492.50px;
    z-index: 93;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-24-layer-92 {
    position: absolute;
    top: 685.00px;
    left: 166.50px;
    z-index: 92;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-24-layer-91 {
    position: absolute;
    top: 472px;
    left: -45px;
    z-index: 91;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
    -webkit-transform: rotate(270deg);
}

#slide-Cirkadin-24-layer-90 {
    position: absolute;
    top: 366.36px;
    left: 36.00px;
    z-index: 90;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-89 {
    position: absolute;
    top: 598.86px;
    left: 37.00px;
    z-index: 89;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-88 {
    position: absolute;
    top: 446.86px;
    left: 37.00px;
    z-index: 88;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-87 {
    position: absolute;
    top: 288.36px;
    left: 41.50px;
    z-index: 87;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-86 {
    position: absolute;
    top: 210.36px;
    left: 41.50px;
    z-index: 86;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-79 {
    position: absolute;
    top: 414.00px;
    left: 853.50px;
    z-index: 79;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 13.00px;
    color: #172631;
}

#slide-Cirkadin-24-layer-78 {
    position: absolute;
    top: 276.50px;
    left: 872.00px;
    z-index: 78;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 13.00px;
    color: #243841;
}

#slide-Cirkadin-24-layer-77 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-77.png);
    position: absolute;
    top: 49.00px;
    left: 689.50px;
    width: 334.50px;
    height: 473.00px;
    z-index: 77;
}

#slide-Cirkadin-24-layer-76 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-76.png);
    position: absolute;
    top: 361.50px;
    left: 823.00px;
    width: 201.00px;
    height: 303.00px;
    z-index: 76;
}

#slide-Cirkadin-24-layer-75 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-75.png);
    position: absolute;
    top: 305.00px;
    left: 827.00px;
    width: 197.00px;
    height: 61.50px;
    z-index: 75;
}

#slide-Cirkadin-24-layer-74 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-74.png);
    position: absolute;
    top: 378.50px;
    left: 841.50px;
    width: 144.50px;
    height: 114.00px;
    z-index: 74;
}

#slide-Cirkadin-24-layer-73 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-73.png);
    position: absolute;
    top: 260.00px;
    left: 897.50px;
    width: 61.50px;
    height: 105.50px;
    z-index: 73;
}

#slide-Cirkadin-24-layer-72 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-72.png);
    position: absolute;
    top: 235.00px;
    left: 844.50px;
    width: 179.50px;
    height: 131.00px;
    z-index: 72;
}

#slide-Cirkadin-24-layer-71 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-71.png);
    position: absolute;
    top: 181.50px;
    left: 803.00px;
    width: 221.00px;
    height: 223.50px;
    z-index: 71;
}

#slide-Cirkadin-24-layer-70 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-70.png);
    position: absolute;
    top: 0.00px;
    left: 900.00px;
    width: 69.00px;
    height: 106.50px;
    z-index: 70;
}

#slide-Cirkadin-24-layer-69 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-69.png);
    position: absolute;
    top: 0.00px;
    left: 872.00px;
    width: 119.00px;
    height: 112.50px;
    z-index: 69;
}

#slide-Cirkadin-24-layer-68 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-68.png);
    position: absolute;
    top: 173.00px;
    left: 1010.00px;
    width: 14.00px;
    height: 66.50px;
    z-index: 68;
}

#slide-Cirkadin-24-layer-63 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-63.png);
    position: absolute;
    top: 606.50px;
    left: 762.00px;
    width: 98.00px;
    height: 147.00px;
    z-index: 163;
}

#slide-Cirkadin-24-layer-60 {
    position: absolute;
    top: 276.50px;
    left: 872.00px;
    z-index: 60;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 13.00px;
    color: #4E6C70;
}

#slide-Cirkadin-24-layer-59 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-59.png);
    position: absolute;
    top: 180.50px;
    left: 666.50px;
    width: 357.50px;
    height: 473.00px;
    z-index: 59;
}

#slide-Cirkadin-24-layer-58 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-58.png);
    position: absolute;
    top: 0.00px;
    left: 900.00px;
    width: 69.00px;
    height: 106.50px;
    z-index: 58;
}

#slide-Cirkadin-24-layer-57 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-57.png);
    position: absolute;
    top: 0.00px;
    left: 872.00px;
    width: 119.00px;
    height: 112.50px;
    z-index: 57;
}

#slide-Cirkadin-24-layer-56 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-56.png);
    position: absolute;
    top: 173.00px;
    left: 1010.00px;
    width: 14.00px;
    height: 66.50px;
    z-index: 56;
}

#slide-Cirkadin-24-layer-55 {
    position: absolute;
    top: 413.50px;
    left: 855.50px;
    z-index: 55;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 13.00px;
    color: #172631;
}

#slide-Cirkadin-24-layer-54 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-54.png);
    position: absolute;
    top: 387.50px;
    left: 876.50px;
    width: 76.50px;
    height: 130.50px;
    z-index: 54;
}

#slide-Cirkadin-24-layer-53 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-53.png);
    position: absolute;
    top: 359.00px;
    left: 821.50px;
    width: 202.50px;
    height: 305.50px;
    z-index: 53;
}

#slide-Cirkadin-24-layer-52 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-52.png);
    position: absolute;
    top: 361.50px;
    left: 823.00px;
    width: 201.00px;
    height: 303.00px;
    z-index: 52;
}

#slide-Cirkadin-24-layer-51 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-51.png);
    position: absolute;
    top: 325.50px;
    left: 809.00px;
    width: 215.00px;
    height: 229.50px;
    z-index: 51;
}

#slide-Cirkadin-24-layer-50 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-50.png);
    position: absolute;
    top: 305.00px;
    left: 827.00px;
    width: 54.50px;
    height: 61.50px;
    z-index: 50;
}

#slide-Cirkadin-24-layer-49 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-49.png);
    position: absolute;
    top: 378.50px;
    left: 841.50px;
    width: 144.50px;
    height: 114.00px;
    z-index: 49;
}

#slide-Cirkadin-24-layer-48 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-48.png);
    position: absolute;
    top: 235.00px;
    left: 844.50px;
    width: 179.50px;
    height: 131.00px;
    z-index: 48;
}

#slide-Cirkadin-24-layer-45 {
    position: absolute;
    top: 721.75px;
    left: 320.50px;
    z-index: 45;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 20.75px;
    color: #E3CFB2;
}

#slide-Cirkadin-24-layer-44 {
    position: absolute;
    top: 642.40px;
    left: 470.50px;
    z-index: 44;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-43 {
    position: absolute;
    top: 643.82px;
    left: 581.50px;
    z-index: 43;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 16.18px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-42 {
    position: absolute;
    top: 644.90px;
    left: 695.50px;
    z-index: 42;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-41 {
    position: absolute;
    top: 642.40px;
    left: 87.00px;
    z-index: 41;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-40 {
    position: absolute;
    top: 643.82px;
    left: 196.50px;
    z-index: 40;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 16.18px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-39 {
    position: absolute;
    top: 644.90px;
    left: 312.00px;
    z-index: 39;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 19.50px;
    line-height: 15.10px;
    color: #16242C;
    display: none;
}

#slide-Cirkadin-24-layer-38 {
    position: absolute;
    top: 491.50px;
    left: 699.00px;
    z-index: 38;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 29.33px;
    color: #F7F7F7;
    display: none;
}

#slide-Cirkadin-24-layer-37 {
    position: absolute;
    top: 497.00px;
    left: 733.00px;
    z-index: 37;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 45.10px;
    color: #F7F7F7;
    display: none;
}

#slide-Cirkadin-24-layer-36 {
    position: absolute;
    top: 360.00px;
    left: 332.50px;
    z-index: 36;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 45.10px;
    color: #F7F7F7;
    display: none;
}

#slide-Cirkadin-24-layer-34 {
    position: absolute;
    top: 166.50px;
    left: 40.50px;
    z-index: 34;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-24-layer-33 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-33.png);
    position: absolute;
    top: 225.50px;
    left: 54.50px;
    width: 1.50px;
    height: 462.00px;
    z-index: 33;
}

#slide-Cirkadin-24-layer-32 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-32.png);
    position: absolute;
    top: 685.00px;
    left: 50.00px;
    width: 741.50px;
    height: 2.50px;
    z-index: 32;
}

#slide-Cirkadin-24-layer-31_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-31_1.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 387.50px;
    z-index: 31;
}

#slide-Cirkadin-24-layer-31_2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-31_2.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 387.50px;
    z-index: 31;
}

#slide-Cirkadin-24-layer-31_3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-31_3.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 387.50px;
    z-index: 31;
}

#slide-Cirkadin-24-layer-31_4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-31_4.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 387.50px;
    z-index: 31;
}

#slide-Cirkadin-24-layer-31_5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-31_5.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 387.50px;
    z-index: 31;
}

#slide-Cirkadin-24-layer-31_6 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-31_6.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 727.00px;
    height: 387.50px;
    z-index: 31;
}

.state-2 .wrap {
    position: absolute;
    bottom: 72px;
    left: 74.00px;
    width: 727.00px;
    height: 0px;
    overflow: hidden;
}

.state-2 .wrap.height {
    height: 387px;
    transition: all 0.5s ease-in;
}

#slide-Cirkadin-24-layer-30 {
    position: absolute;
    top: 669.86px;
    left: 42.00px;
    z-index: 30;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-29 {
    position: absolute;
    top: 516.86px;
    left: 42.00px;
    z-index: 29;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-28 {
    position: absolute;
    top: 692.00px;
    left: 130.00px;
    z-index: 28;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-24-layer-28_1 {
    position: absolute;
    top: 692.00px;
    left: 494.00px;
    z-index: 28;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-24-layer-27 {
    position: absolute;
    top: 472px;
    left: -78px;
    z-index: 27;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    color: #FFFFFF;
    -webkit-transform: rotate(270deg);
}

#slide-Cirkadin-24-layer-26 {
    position: absolute;
    top: 366.36px;
    left: 35.5px;
    z-index: 26;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-25 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-25.png);
    position: absolute;
    top: 428.50px;
    left: 728.00px;
    width: 27.00px;
    height: 49.00px;
    z-index: 25;
    opacity: 0 !important;
}

#slide-Cirkadin-24-layer-24 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-24.png);
    position: absolute;
    bottom: 113.00px;
    left: 692.00px;
    width: 99.00px;
    height: 0;
    z-index: 24;
    opacity: 0.3 !important;
}

#slide-Cirkadin-24-layer-24.height {
    height: 262.50px;
    transition: height 0.5s ease-in;
}

#slide-Cirkadin-24-layer-23 {
    position: absolute;
    top: 210.36px;
    left: 35.50px;
    z-index: 23;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 14.00px;
    line-height: 15.64px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 4px;
}

#slide-Cirkadin-24-layer-21 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-82.png);
    position: absolute;
    top: 224.50px;
    left: 54.00px;
    width: 752.50px;
    height: 80.50px;
    z-index: 21;
    opacity: 0.18;
}

#slide-Cirkadin-24-layer-20 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-82.png);
    position: absolute;
    top: 381.50px;
    left: 54.00px;
    width: 752.50px;
    height: 80.50px;
    z-index: 20;
    opacity: 0.18;
}

#slide-Cirkadin-24-layer-19 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-82.png);
    position: absolute;
    top: 533.50px;
    left: 54.00px;
    width: 752.50px;
    height: 80.50px;
    z-index: 19;
    opacity: 0.18;
}

#slide-Cirkadin-24-layer-15 {
    position: absolute;
    top: 42.50px;
    left: 41.50px;
    z-index: 15;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-24-layer-13 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 13;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-24-layer-12 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 12;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-24-layer-11 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 11;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-24-layer-10 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-10.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 10;
}

#slide-Cirkadin-24-layer-9 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-9.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 9;
}

#slide-Cirkadin-24-layer-8 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-8.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 8;
}

#slide-Cirkadin-24-layer-7 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-7.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 7;
}

#slide-Cirkadin-24-layer-6 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-6.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 6;
}

#slide-Cirkadin-24-layer-5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-5.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 5;
}

#slide-Cirkadin-24-layer-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-4.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 4;
}

#slide-Cirkadin-24-layer-2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-24/slide-Cirkadin-24-layer-2.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 2;
}

.state-1 * {
    opacity: 0;
    visibility: hidden;
}

.button-1 {
    position: absolute;
    top: 230px;
    left: 830px;
    width: 200px;
    height: 130px;
    z-index: 200;
}

.button-2 {
    position: absolute;
    top: 363px;
    left: 825px;
    width: 200px;
    height: 146px;
    z-index: 200;
}

.pulsate {
    display: block;
    opacity: 0.6 !important;
    -webkit-animation: pulsating 3s linear;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-fill-mode: forwards;
}

.shine-1.pulsate,
.shine-2.pulsate {
    display: block;
    opacity: 0.6 !important;
    -webkit-animation: pulsatingTwo 3s linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
}

@-webkit-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

@-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulsating {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@-keyframes pulsating {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

.shine-1 {
    position: absolute;
    top: 50px;
    left: 689px;
    width: 334px;
    height: 473px;
    z-index: 190;
    background: url(../images/Cirkadin-24/tv-2.png);
    background-size: 100%;
}

.shine-2 {
    position: absolute;
    top: 181px;
    left: 667px;
    width: 357px;
    height: 484px;
    z-index: 190;
    background: url(../images/Cirkadin-24/tv-1.png);
    background-size: 100%;
}