#slide-Cirkadin-3-layer-54 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-54.png?v=2415233179);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 54;
}

#slide-Cirkadin-3-layer-53 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 53;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-3-layer-52 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 52;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-3-layer-51 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 51;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-3-layer-50 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-50.png?v=2415233179);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 50;
}

#slide-Cirkadin-3-layer-49 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-49.png?v=2415233179);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 49;
}

#slide-Cirkadin-3-layer-48 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-48.png?v=2415233179);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 48;
}

#slide-Cirkadin-3-layer-47 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-47.png?v=2415233179);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 47;
}

#slide-Cirkadin-3-layer-46 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-46.png?v=2415233179);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 46;
}

#slide-Cirkadin-3-layer-45 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-45.png?v=2415233179);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 45;
}

#slide-Cirkadin-3-layer-43 {
    position: absolute;
    top: 146.50px;
    left: 900.50px;
    z-index: 43;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 27.21px;
    color: #BFD1D8;
    -webkit-transform: rotate(20deg);
    opacity: 0.3;
}

#slide-Cirkadin-3-layer-42 {
    position: absolute;
    top: 207.50px;
    left: 902.00px;
    z-index: 42;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 25.75px;
    color: #BFD1D8;
    -webkit-transform: rotate(-5deg);
    opacity: 0.5;
}

#slide-Cirkadin-3-layer-41 {
    position: absolute;
    top: 275.50px;
    left: 890.00px;
    z-index: 41;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 21.78px;
    color: #BFD1D8;
    -webkit-transform: rotate(-55deg);
    opacity: 0.7;
}

#slide-Cirkadin-3-layer-40 {
    position: absolute;
    top: 338.00px;
    left: 907.50px;
    z-index: 40;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 25.23px;
    color: #BFD1D8;
    -webkit-transform: rotate(15deg);
    opacity: 0.9;
}

#slide-Cirkadin-3-layer-39 {
    position: absolute;
    top: 379.50px;
    left: 899.00px;
    z-index: 39;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 26.80px;
    color: #BFD1D8;
    opacity: 0.9;
}

#slide-Cirkadin-3-layer-38 {
    position: absolute;
    top: 173.00px;
    left: 33.00px;
    z-index: 38;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-3-layer-37 {
    position: absolute;
    top: 64.00px;
    left: 35.00px;
    z-index: 37;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-3-layer-36 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-36.png?v=2415233179);
    position: absolute;
    top: 345.00px;
    left: 588.50px;
    width: 433.00px;
    height: 423.00px;
    z-index: 36;
}

#slide-Cirkadin-3-layer-34 {
    position: absolute;
    top: 432.50px;
    left: 606.50px;
    z-index: 34;
    font-family: FuturaPTBold;
    font-size: 40.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    letter-spacing: -1.5px;
}

#slide-Cirkadin-3-layer-33 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-33.png?v=2415233179);
    position: absolute;
    top: 382.00px;
    left: 599.50px;
    width: 119.00px;
    height: 119.50px;
    z-index: 33;
}

#slide-Cirkadin-3-layer-30 {
    position: absolute;
    top: 385.03px;
    left: 51.50px;
    z-index: 30;
    font-family: FuturaPTBook;
    font-size: 20.88px;
    line-height: 9.97px;
    color: #E3CFB2;
}

#slide-Cirkadin-3-layer-29 {
    position: absolute;
    top: 361.03px;
    left: 51.50px;
    z-index: 29;
    font-family: FuturaPTBook;
    font-size: 20.88px;
    line-height: 9.97px;
    color: #E3CFB2;
}

#slide-Cirkadin-3-layer-28 {
    position: absolute;
    top: 482.50px;
    left: 264.50px;
    z-index: 28;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
    width: 100px;
}

#slide-Cirkadin-3-layer-27 {
    position: absolute;
    top: 298.50px;
    left: 494.50px;
    z-index: 27;
    font-family: FuturaPTBook;
    font-size: 30.00px;
    line-height: 13.50px;
    color: #52728F;
    letter-spacing: -1.5px;
}

#slide-Cirkadin-3-layer-26 {
    position: absolute;
    top: 326.00px;
    left: 499.00px;
    z-index: 26;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 18.00px;
    line-height: 15.50px;
    color: #FFFFFF;
    width: 140px;
}

#slide-Cirkadin-3-layer-25 {
    position: absolute;
    top: 458.00px;
    left: 262.50px;
    z-index: 25;
    font-family: FuturaPTBook;
    font-size: 30.00px;
    line-height: 13.50px;
    color: #52728F;
    letter-spacing: -1.5px;
}

#slide-Cirkadin-3-layer-23 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-23.png?v=2415233179);
    position: absolute;
    bottom: 14px;
    left: 484.50px;
    width: 161.00px;
    height: 0px;
    z-index: 23;
}

#slide-Cirkadin-3-layer-22 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-22.png?v=2415233179);
    position: absolute;
    bottom: 14px;
    left: 252.50px;
    width: 161.00px;
    height: 0.00px;
    z-index: 22;
}

#slide-Cirkadin-3-layer-19 {
    position: absolute;
    top: 544px;
    left: 174px;
    z-index: 19;
    font-family: FuturaPTBook;
    font-size: 18.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    -webkit-transform: rotate(270deg);
}

#slide-Cirkadin-3-layer-16 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-16.png?v=2415233179);
    position: absolute;
    top: 278.00px;
    left: 215.00px;
    width: 649.00px;
    height: 396.00px;
    z-index: 16;
}

#slide-Cirkadin-3-layer-15 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-14.png?v=2415233179);
    position: absolute;
    top: 753.00px;
    left: 215.50px;
    width: 649.00px;
    height: 1.00px;
    z-index: 15;
}

#slide-Cirkadin-3-layer-14 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-14.png?v=2415233179);
    position: absolute;
    top: 594.00px;
    left: 215.50px;
    width: 649.00px;
    height: 1.00px;
    z-index: 14;
}

#slide-Cirkadin-3-layer-13 {
    position: absolute;
    top: 264.50px;
    left: 199.50px;
    z-index: 13;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-3-layer-12 {
    position: absolute;
    top: 343.50px;
    left: 199.50px;
    z-index: 12;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-3-layer-11 {
    position: absolute;
    top: 738.50px;
    left: 205.00px;
    z-index: 11;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-3-layer-10 {
    position: absolute;
    top: 659.00px;
    left: 204.50px;
    z-index: 10;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-3-layer-9 {
    position: absolute;
    top: 579.50px;
    left: 205.00px;
    z-index: 9;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-3-layer-8 {
    position: absolute;
    top: 501.00px;
    left: 204.50px;
    z-index: 8;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-3-layer-7 {
    position: absolute;
    top: 422.00px;
    left: 199.50px;
    z-index: 7;
    text-transform: uppercase;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 12.00px;
    line-height: 13.50px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#slide-Cirkadin-3-layer-5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-5.png?v=2415233179);
    position: absolute;
    top: 594.00px;
    left: 209.00px;
    width: 655.00px;
    height: 80.00px;
    z-index: 5;
    opacity: 0.14;
}

#slide-Cirkadin-3-layer-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-4.png?v=2415233179);
    position: absolute;
    top: 435.00px;
    left: 209.00px;
    width: 655.00px;
    height: 80.00px;
    z-index: 4;
    opacity: 0.14;
}

#slide-Cirkadin-3-layer-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-3.png?v=2415233179);
    position: absolute;
    top: 278.00px;
    left: 209.00px;
    width: 655.00px;
    height: 80.00px;
    z-index: 3;
    opacity: 0.14;
}

#slide-Cirkadin-3-layer-1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-3/slide-Cirkadin-3-layer-1.png?v=2415233179);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 1;
}

.graph *,
.graph-text * {
    display: none;
}

.circle * {
    opacity: 0;
}

.circle .pulsate {
    -webkit-animation: pulsating 3s linear;
    -webkit-animation-iteration-count: 3;
    opacity: 1;
}

@-webkit-keyframes pulsating {
    40% {
        opacity: 0.0;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

@-keyframes pulsating {
    40% {
        opacity: 0.0;
    }

    60% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}