#slide-Cirkadin-7-layer-32 {
    position: absolute;
    top: 430.50px;
    left: 753.50px;
    z-index: 32;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 36.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-7-layer-31 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-31.png);
    position: absolute;
    top: 706.00px;
    left: 890.00px;
    width: 112.50px;
    height: 34.50px;
    z-index: 31;
}

#slide-Cirkadin-7-layer-30 {
    position: absolute;
    top: 720.00px;
    left: 162.50px;
    z-index: 30;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 33.50px;
    color: #A48DCB;
}

#slide-Cirkadin-7-layer-29 {
    position: absolute;
    top: 719.50px;
    left: 97.50px;
    z-index: 29;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-7-layer-28 {
    position: absolute;
    top: 720.50px;
    left: 44.00px;
    z-index: 28;
    text-align: right;
    font-family: FuturaPTBook;
    font-size: 30.24px;
    color: #A48DCB;
}

#slide-Cirkadin-7-layer-27 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-27.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 27;
}

#slide-Cirkadin-7-layer-26 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-26.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 26;
}

#slide-Cirkadin-7-layer-25 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-25.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 25;
}

#slide-Cirkadin-7-layer-24 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-24.png);
    position: absolute;
    top: 709.50px;
    left: 31.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 24;
}

#slide-Cirkadin-7-layer-23 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-23.png);
    position: absolute;
    top: 709.50px;
    left: 143.00px;
    width: 43.00px;
    height: 43.00px;
    z-index: 23;
}

#slide-Cirkadin-7-layer-22 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-22.png);
    position: absolute;
    top: 709.50px;
    left: 87.50px;
    width: 43.00px;
    height: 43.00px;
    z-index: 22;
}

#slide-Cirkadin-7-layer-19 {
    position: absolute;
    top: 506.65px;
    left: 166.00px;
    z-index: 19;
    font-family: FuturaPTBold;
    font-size: 35.11px;
    color: #FFFFFF;
}

#slide-Cirkadin-7-layer-18 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-18.png);
    position: absolute;
    top: 480.00px;
    left: 60.00px;
    width: 106.50px;
    height: 106.50px;
    z-index: 18;
}

#slide-Cirkadin-7-layer-17 {
    position: absolute;
    top: 403.65px;
    left: 168.50px;
    z-index: 17;
    font-family: FuturaPTBold;
    font-size: 35.11px;
    color: #FFFFFF;
}

#slide-Cirkadin-7-layer-16 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-16.png);
    position: absolute;
    top: 377.00px;
    left: 60.00px;
    width: 106.50px;
    height: 107.00px;
    z-index: 16;
}

#slide-Cirkadin-7-layer-15 {
    position: absolute;
    top: 299.65px;
    left: 166.50px;
    z-index: 15;
    font-family: FuturaPTBold;
    font-size: 35.11px;
    color: #FFFFFF;
}

#slide-Cirkadin-7-layer-14 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-14.png);
    position: absolute;
    top: 273.00px;
    left: 60.00px;
    width: 106.50px;
    height: 107.00px;
    z-index: 14;
}

#slide-Cirkadin-7-layer-13 {
    position: absolute;
    top: 193.65px;
    left: 167.00px;
    z-index: 13;
    font-family: FuturaPTBold;
    font-size: 35.11px;
    color: #FFFFFF;
}

#slide-Cirkadin-7-layer-12 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-12.png);
    position: absolute;
    top: 170.50px;
    left: 60.00px;
    width: 106.50px;
    height: 106.50px;
    z-index: 12;
}

#slide-Cirkadin-7-layer-11_1 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-11.png);
    position: absolute;
    top: 88.50px;
    left: 0.00px;
    width: 253.50px;
    height: 234.00px;
    z-index: 11;
}

#slide-Cirkadin-7-layer-11_2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-11.png);
    position: absolute;
    top: 193.50px;
    left: 0.00px;
    width: 253.50px;
    height: 234.00px;
    z-index: 11;
}

#slide-Cirkadin-7-layer-11_3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-11.png);
    position: absolute;
    top: 288.50px;
    left: 0.00px;
    width: 253.50px;
    height: 234.00px;
    z-index: 11;
}

#slide-Cirkadin-7-layer-11_4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-11.png);
    position: absolute;
    top: 393.50px;
    left: 0.00px;
    width: 253.50px;
    height: 234.00px;
    z-index: 11;
}

#slide-Cirkadin-7-layer-10 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-10.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 10;
}

#slide-Cirkadin-7-layer-8 {
    position: absolute;
    top: 38.50px;
    left: 38.00px;
    z-index: 8;
    text-align: left;
    font-family: FuturaPTBook;
    font-size: 42.00px;
    color: #FFAE4E;
}

#slide-Cirkadin-7-layer-7 {
    position: absolute;
    top: 432.50px;
    left: 57.00px;
    z-index: 7;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 36.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-7-layer-7_1 {
    position: absolute;
    top: 432.50px;
    left: 767.00px;
    z-index: 7;
    text-align: left;
    font-family: FuturaPTDemi;
    font-size: 36.00px;
    color: #FFFFFF;
}

#slide-Cirkadin-7-layer-5 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-5.png);
    position: absolute;
    top: 175.00px;
    left: 165.50px;
    width: 666.50px;
    height: 593.00px;
    z-index: 5;
}

#slide-Cirkadin-7-layer-4 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-4.png);
    position: absolute;
    top: 199.50px;
    left: 74.50px;
    width: 464.00px;
    height: 418.50px;
    z-index: 4;
    opacity: 0;
}

#slide-Cirkadin-7-layer-3 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-3.png);
    position: absolute;
    top: 199.50px;
    left: 482.00px;
    width: 464.00px;
    height: 418.50px;
    z-index: 3;
    opacity: 0;
}

#slide-Cirkadin-7-layer-2 {
    background-size: 100% 100%;
    background-image: url(../images/Cirkadin-7/slide-Cirkadin-7-layer-2.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    z-index: 2;
}

.state-2 * {
    display: none;
}

.pulsate {
    -webkit-animation: pulsating 4s linear;
    -webkit-animation-iteration-count: infinite;
    opacity: 1;
}

@-webkit-keyframes pulsating {
    25% {
        opacity: 0.95;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.95;
    }
}

@-keyframes pulsating {
    25% {
        opacity: 0.95;
    }

    50% {
        opacity: 0.0;
    }

    75% {
        opacity: 0.95;
    }
}

.button-1 {
    position: absolute;
    top: 320px;
    left: 20px;
    width: 420px;
    height: 200px;
    z-index: 10;
}

.button-2 {
    position: absolute;
    top: 340px;
    left: 550px;
    width: 420px;
    height: 200px;
    z-index: 100;
}

.sunshine {
    opacity: 0;
}

.sunshine.pulsate {
    -webkit-animation: pulsatingTwo 9s linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.85;
    }

    20% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}

@-keyframes pulsatingTwo {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.85;
    }

    20% {
        opacity: 0.0;
    }

    100% {
        opacity: 0;
    }
}